<!DOCTYPE html>
<html>
<head>
<title>用户地址列表</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.userName" @keyup.enter="query" placeholder="用户名">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:userAddress:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:userAddress:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:userAddress:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">用户名</div>
				<div class="col-sm-10">
					<!--<input type="text" class="form-control" v-model="userAddress.userName" placeholder="用户名"/>-->
					<input type="text" class="form-control" style="cursor:pointer;" v-model="userAddress.userName" @click="userIframe" readonly="readonly" placeholder="用户名"/>

				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">收货人姓名</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="userAddress.receiveName" placeholder="收货人姓名"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">收货人电话</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="userAddress.receiveMobile" placeholder="收货人电话"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">省</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="userAddress.province" placeholder="省"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">市</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="userAddress.city" placeholder="市"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">县</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="userAddress.county" placeholder="县"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">邮政编码</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="userAddress.postalCode" placeholder="邮政编码"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">详细地址</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="userAddress.address" placeholder="详细地址"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<!-- 选择用户 -->
<div id="userLayer" style="display: none;padding:10px;">
	<div id="userIframe" class="panel-heading"></div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/userAddress.js?_${.now?long}"></script>
</body>
</html>