<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>申请预约-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/login.css" rel="stylesheet">
    <script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<!--script type="text/javascript" src="js/bikun.js"></script-->
</head>

<body>
	 <!------------------------------ 头部 ------------------------------>
	 <div class="header clearfix">
  	 	<div class="header-classify left">
  	 		<ul>
  	 			<li><a href="index.html">可循环宝贝</a></li>


  	 		</ul>
  	 	</div>
  		<div class="header-sign left">
  			<div class="logo left pl25 mt5"><a href="index.html"><img src="${request.contextPath}/statics/images/logo.png"/></a></div>
  	 		<div class="user-sign right pl20">
          <div class="initial-login clearfix" ><s></s><i></i><a href="login.html" class="login-text ml5">登录</a><a href="register.html" class="register-text  ml10">注册</a></div>
          <div class="user-login clearfix" style="display:none;">
            <s></s><i></i><em class="star-mar"><span>5</span></em><em class="more-mar"><span>5</span></em><a href="index.html" class="exit-login left ml5 mr10">退出登录</a><a href="bikun_MyGirIndex.html" class="portrait"><img src="${request.contextPath}/statics/images/small-head.jpg"/></a>
          </div>
  	 	</div>
  	 </div>
  </div>
	<!------------------------------ 头部end ------------------------------>

	<!------------------------------ 申请预约 ------------------------------>

	<div class="apply-order">
		<h2>申请预约</h2>
		<div class=" apply-info relet-info mt20">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th class="good"><input type="checkbox"/>&nbsp;&nbsp;全选 <em class="ml20">商品</em> </th>
                <th>价格(元/天)</th>
                <th>日期</th>
                <th>数量</th> 
                <th>押金</th>
                <th>状态</th>
                <th>成色</th>
                <th>小计信息</th>
                <th>操作</th>
              </tr>
              <tr>
                <td>
                  <dl class="clearfix">
                    <dt><input type="checkbox" class="checkbox left" /><img src="${request.contextPath}/statics/images/bag-img4.jpg"></dt>
                    <dd>MADISON麦迪逊压花皮革PINNACLE CARRIE手提包<span>商品编号：1030849</span></dd>
                  </dl>
                </td>
                <td><span class="price">￥177</span><br/><s class="ft14">￥556</s></td>
                <td>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                </td>
                <td><a href="" class="clearfix ml15"><u></u><i>1</i><s></s></a></td> 
                <td><span>￥50</span></td>
                <td><span>无货</span></td>
                <td><span>待定</span></td>
                <td><span class="has-background">￥1239</span></td>
                <td>            
                <div class="order-time relative ft14 text-decoration">预约申请
                 <div class="pop-box">
                      <div class="pop-info">
                        <h3 class="ft12">确定预订此商品吗？</h3>
                        <a href="" class="sure-btn ml5 left">确定</a>
                         <a href="" class="cancel-btn mr5 right">取消</a>
                      </div>
                   </div>
                </div>
              </td>
                
              </tr>
              
              <tr>
                <td>
                  <dl class="clearfix">
                    <dt><input type="checkbox" class="checkbox left" /><img src="${request.contextPath}/statics/images/bag-img5.jpg"></dt>
                    <dd>MADISON麦迪逊压花皮革PINNACLE CARRIE手提包<span>商品编号：1030849</span></dd>
                  </dl>
                </td>
                <td><span class="price">￥177</span><br/><s class="ft14">￥556</s></td>
                <td>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                </td>
                <td><a href="" class="clearfix ml15"><u></u><i>1</i><s></s></a></td> 
                <td><span>￥50</span></td>
                <td><span>无货</span></td>
                <td><span>待定</span></td>
                <td><span class="has-background">￥1239</span></td>
                <td>
                  <div class="order-time relative ft14 text-decoration">预约申请
                 <div class="pop-box">
                      <div class="pop-info">
                        <h3 class="ft12">确定预订此商品吗？</h3>
                        <a href="" class="sure-btn ml5 left">确定</a>
                         <a href="" class="cancel-btn mr5 right">取消</a>
                      </div>
                   </div>
                </div>
                </td>
              </tr>

              <tr>
                <td>
                  <dl class="clearfix">
                    <dt><input type="checkbox" class="checkbox left" /><img src="${request.contextPath}/statics/images/bag-img6.jpg" class="pt30"></dt>
                    <dd>MADISON麦迪逊压花皮革PINNACLE CARRIE手提包<span>商品编号：1030849</span></dd>
                  </dl>
                </td>
                <td><span class="price">￥177</span><br/><s class="ft14">￥556</s></td>
                <td>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                </td>
                <td><a href="" class="clearfix ml15"><u></u><i>1</i><s></s></a></td> 
                <td><span>￥50</span></td>
                <td><span>无货</span></td>
                <td><span>待定</span></td>
                <td><span class="has-background">￥1239</span></td>
                <td>
                  <div class="order-time relative ft14 text-decoration">预约申请
                 <div class="pop-box">
                      <div class="pop-info">
                        <h3 class="ft12">确定预订此商品吗？</h3>
                        <a href="" class="sure-btn ml5 left">确定</a>
                         <a href="" class="cancel-btn mr5 right">取消</a>
                      </div>
                   </div>
                </div>
                </td>
              </tr>

          </table>
		</div>
		<div class="mt40 mb170 submit-apply">
      <div class="apply-top clearfix">
        <a href="index.html" class="stroll left">&lt;&lt;再去逛逛</a>
        <div class="right apply-content">
            <div class="left label ft14"><span>1</span> 件商品 租金：<b>￥166.00</b> 押金：<b>￥166.00</b><em class="ft18">总金额（已免运费）：</em><b class="ft28">￥322</b></div>
            <a href="" class="submit-btn mr10 right">提交申请</a>
        </div>
      </div>
      <div class="apply-bottom clearfix">
        <div class="left mt15"><a href="" class="freight-btn left">运费</a><b class="left">|</b><em class="left">本订单已免运费。</em></div>
        <div class="right apply-content mt25 ft14">
            <p class="right"><s></s>请在<span>30分30秒</span>内提交申请。下单后您另有<span>30</span>分钟的支付时间。<u></u></p>
        </div>
      </div>
    </div>  
    <h2>浏览过的商品</h2> 
    <div class="browse-goods clearfix">
      <div class="left-btn left"></div>
      <div class="scroll-img left">
        <ul>
          <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="" class="ml35">PINNACLE CARRIE手提包</a></li>
          <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="" class="ml35">PINNACLE CARRIE手提包</a></li>
          <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="" class="ml35">PINNACLE CARRIE手提包</a></li>
          <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="" class="ml35">PINNACLE CARRIE手提包</a></li>
          <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="" class="ml35">PINNACLE CARRIE手提包</a></li>
          <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="" class="ml35">PINNACLE CARRIE手提包</a></li>
        </ul>
      </div>
      <div class="right-btn left"></div>
    </div>
	</div>

	<!------------------------------ 申请预约end ------------------------------>

	 <!------------------------------ 尾部 ------------------------------>
    <div class="fotbx pb70 clearfix pt30">
            <ul>
                <li><a href="">bequeen客服</a><span>|</span></li>
                <li><a href="">服务保障</a><span>|</span></li>
                <li><a href="">租赁指南</a><span>|</span></li>
                <li><a href="">支付方式</a><span>|</span></li>
                <li><a href="">配送方式</a><span>|</span></li>
                <li><a href="">关于索赔</a><span>|</span></li>
                <li><a href="">广告服务</a><span>|</span></li>
                <li><a href="">友情链接</a><span>|</span></li>                 	
                <li><a href="">手机bequeen</a></li>
              </ul> 
    </div>
	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	</div>
	<!------------------------------ 尾部end ------------------------------>

	<!--固定浮动窗帘-->
	<div class="fixed_float">
		<div class="float_leftBox">
			<s class="r_sj"></s>
			<ul>
				<li><a href="javascript:;" class="one"></a></li>
				<li><a href="javascript:;" class="two"></a></li>
				<li><a href="javascript:;" class="thr"></a></li>
				<li><a href="javascript:;" class="four"></a></li>
			</ul>
		</div>
		<div class="float_rightBox">
			<ul>
				<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
				<li><a href="javascript:;" class="heart"></a><b>0</b></li>
				<li><a href="javascript:;" class="phone"></a></li>
				<li><a href="javascript:;" class="share"></a></li>
				<li><a href="javascript:;" class="Micro"></a></li>
			</ul>
		</div>
	</div>
  <script type="text/javascript">
  $(function(){
    $(".order-time").click(function(){
      $(this).find(".pop-box").show().siblings(".pop-box").hide();
    });

    $(".cancel-btn,.sure-btn").click(function(){
      $(".pop-box").hide();
    });
  })
    
  
</script>
</body>
</html>