<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BeQueen</title>
<link href="${request.contextPath}/statics/css/common1.css"  rel="stylesheet" type="text/css"/>
<link href="${request.contextPath}/statics/css/index.css"  rel="stylesheet" type="text/css"/>
<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
<script src="${request.contextPath}/statics/js/lrscroll.js"></script>
</head>

<body>
<!------------------------------ 头部 ------------------------------>
	 <div class="header clearfix">
      <div class="header-classify left">
        <ul>
          <li><a href="index.html">可循环宝贝</a></li>


        </ul>
      </div>
      <div class="header-sign left">
        <div class="logo left pl25 mt5"><a href="index.html"><img src="${request.contextPath}/statics/images/logo.png"/></a></div>
        <div class="user-sign right pl20">
          <div class="initial-login clearfix">
                <ul>
                   <li><s></s></li>
                   <li><i></i></li>
                   <li><a href="login.html" class="login-text">登录</a></li>
                   <li><a href="register.html" class="register-text">注册</a></li>
                </ul>   
           </div>
          <div class="user-login clearfix"  style="display:none;" >
            <ul>
               <li><s></s></li>
               <li><i></i></li>
               <li><em class="star-mar"><span>5</span></em></li>
               <li><em class="more-mar"><span>5</span></em></li>
               <li><a href="" class="exit-login left ml5">退出登录</a></li>
               <li><a href="bikun_MyGirIndex.html" class="portrait"><img src="${request.contextPath}/statics/images/small-head.jpg"/></a></li>
            </ul>
            
          </div>
      </div>
     </div>
    </div>
	<!------------------------------ 头部end ------------------------------>
   <!---------------- 文章 正文 ---------------->
   
     <div class="article">
       <div class="acricle_head clearfix">
           <div class="acricle_logo"><img src="${request.contextPath}/statics/images/Li_logo.jpg" /></div>
           <div class="acricle_banner"><a href=""><img src="${request.contextPath}/statics/images/banner12.jpg" /></a></div>
       </div>
       <div class="acricle_main clearfix">
           <div class="acricle_l">
             <h2>博主们的高分实穿Look够不够你看？</h2>
             <div class="acricle-b"><img src="${request.contextPath}/statics/images/te_img1.jpg" /></div>
             <div class="acricle_con">
                <p>加州时尚博主Blair Eadie的斗篷外套配格纹衫和中筒袜的学生妹造型青春可爱，但硕大的香奈儿包包却并没有让她的B格也随之变得Bigger；一直擅长极简都会风格的瑞典“黑衣天使”卡洛琳·布罗姆斯特 (Caroline Blomst) 以白色短款皮草外套搭配灰色内搭和黑色长裤，黑白灰的穿衣哲学被她倒背如流；墨西哥时尚博主Andy Torres虽也是选择了简约黑白配格纹外套，却选择了一件亮眼的橘红色针织衫为造型带来了更具冲击性的视觉吸引力；混血美人皮尔妮·林 (Peony Lim) 的宝蓝色机车外套漂亮至极，在一面同为蓝色的木板墙前面Peony就仿佛深海来的美人鱼一样动人；纽约时尚博主Natalie Suarez用红色千鸟格大衣+波点连衣裙的混搭造型亮相，从短靴中露出的袜子是点睛之笔；美国时尚博主简·艾尔德里奇 (Jane Aldridge) 则一如既往地走复古路线，两套文艺范儿十足的Look都可圈可点、值得借鉴。一周博主Best Look票选 (10月25日~10月31日) 马上奉上，一起跟着海报编编来看看本周的博主美搭吧！</p>
                <p>加州时尚博主Blair Eadie的斗篷外套配格纹衫和中筒袜的学生妹造型青春可爱，但硕大的香奈儿包包却并没有让她的B格也随之变得Bigger；一直擅长极简都会风格的瑞典“黑衣天使”卡洛琳·布罗姆斯特 (Caroline Blomst) 以白色短款皮草外套搭配灰色内搭和黑色长裤，黑白灰的穿衣哲学被她倒背如流；墨西哥时尚博主Andy Torres虽也是选择了简约黑白配格纹外套，却选择了一件亮眼的橘红色针织衫为造型带来了更具冲击性的视觉吸引力；混血美人皮尔妮·林 (Peony Lim) 的宝蓝色机车外套漂亮至极，在一面同为蓝色的木板墙前面Peony就仿佛深海来的美人鱼一样动人；纽约时尚博主Natalie Suarez用红色千鸟格大衣+波点连衣裙的混搭造型亮相，从短靴中露出的袜子是点睛之笔；美国时尚博主简·艾尔德里奇 (Jane Aldridge) 则一如既往地走复古路线，两套文艺范儿十足的Look都可圈可点、值得借鉴。一周博主Best Look票选 (10月25日~10月31日) 马上奉上，一起跟着海报编编来看看本周的博主美搭吧！</p>
             </div>
             <div class="acricle_bottom">
               <h3>最新Q图</h3>
               <div class="acricle_b_img">
                  <ul>
                     <li><a href=""><img src="${request.contextPath}/statics/images/te_img4.jpg" /></a></li>
                     <li><a href=""><img src="${request.contextPath}/statics/images/te_img5.jpg" /></a></li>
                     <li><a href=""><img src="${request.contextPath}/statics/images/te_img6.jpg" /></a></li>
                  </ul>
               </div>
             </div>
           </div>
           <div class="acricle_r">
              <div class="news_infor">
                <h3>最新资讯</h3>
                <div class="news_infor_con">
                  <dl class="clearfix">
                    <dt><a href=""><img src="${request.contextPath}/statics/images/te_img2.jpg" /></a></dt>
                    <dd>
                      <h4><a href="">时尚女包时尚女包时尚女时尚女包时尚女包时尚女</a></h4>
                      <p>时尚女包时尚女包时尚女包时尚女包时时尚女包时尚女包时尚时尚女包时尚女包时尚女包时尚女包时时尚女包时尚女包时尚</p>
                    </dd>
                  </dl>
                  <dl class="clearfix">
                    <dt><a href=""><img src="${request.contextPath}/statics/images/te_img2.jpg" /></a></dt>
                    <dd>
                      <h4><a href="">时尚女包时尚女包时尚女时尚女包时尚女包时尚女</a></h4>
                      <p>时尚女包时尚女包时尚女包时尚女包时时尚女包时尚女包时尚时尚女包时尚女包时尚女包时尚女包时时尚女包时尚女包时尚</p>
                    </dd>
                  </dl>
                  <dl class="clearfix">
                    <dt><a href=""><img src="${request.contextPath}/statics/images/te_img2.jpg" /></a></dt>
                    <dd>
                      <h4><a href="">时尚女包时尚女包时尚女时尚女包时尚女包时尚女</a></h4>
                      <p>时尚女包时尚女包时尚女包时尚女包时时尚女包时尚女包时尚时尚女包时尚女包时尚女包时尚女包时时尚女包时尚女包时尚</p>
                    </dd>
                  </dl>
                </div>
              </div>
              <div class="news_infor related_article">
                <h3>相关文章推荐</h3>
                <div class="news_infor_con">
                  <dl class="clearfix">
                    <dt><a href=""><img src="${request.contextPath}/statics/images/te_img2.jpg" /></a></dt>
                    <dd>
                      <h4><a href="">时尚女包时尚女包时尚女时尚女包时尚女包时尚女</a></h4>
                      <p>时尚女包时尚女包时尚女包时尚女包时时尚女包时尚女包时尚时尚女包时尚女包时尚女包时尚女包时时尚女包时尚女包时尚</p>
                    </dd>
                  </dl>
                </div>
                <ul>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                  <li><a href="">街头品牌Stussy台北开店陈冠希到场剪彩！</a></li>
                </ul>
              </div>
           </div>
       </div>
     </div>
     
    
    
   <!---------------- 文章 正文  end ---------------->
   

<!------------------------------ 尾部 ------------------------------>
    <div class="fotbx pb70 pt40">
            <ul>
                <li><a href="">bequeen客服</a><span>|</span></li>
                <li><a href="">服务保障</a><span>|</span></li>
                <li><a href="">租赁指南</a><span>|</span></li>
                <li><a href="">支付方式</a><span>|</span></li>
                <li><a href="">配送方式</a><span>|</span></li>
                <li><a href="">关于索赔</a><span>|</span></li>
                <li><a href="">广告服务</a><span>|</span></li>
                <li><a href="">友情链接</a><span>|</span></li>                 	
                <li><a href="">手机bequeen</a></li>
              </ul> 
    </div>
	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	</div>
	<!------------------------------ 尾部end ------------------------------>

</body>
</html>
