<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<title>修改资料-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet" type="text/css">
<link href="${request.contextPath}/statics/css/bikun_MyGirlies.css" rel="stylesheet" type="text/css">
<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${request.contextPath}/statics/js/bikun_MyGirlies.js"></script>

</head>
<body>
<!--头部-->
<div class="header clearfix">
  	 	<div class="header-classify left">
  	 		<ul>
  	 			<li><a href="index.html">可循环宝贝</a></li>


  	 		</ul>
  	 	</div>
  		<div class="header-sign left">
  			<div class="logo left pl25 mt5"><a href="index.html"><img src="${request.contextPath}/statics/images/logo.png"/></a></div>
  	 		<div class="user-sign right pl20">
          <div class="initial-login clearfix" ><s></s><i></i><a href="login.html" class="login-text ml5">登录</a><a href="register.html" class="register-text  ml10">注册</a></div>
          <div class="user-login clearfix" style="display:none;">
            <s></s><i></i><em class="star-mar"><span>5</span></em><em class="more-mar"><span>5</span></em><a href="index.html" class="exit-login left ml5 mr10">退出登录</a><a href="bikun_MyGirIndex.html" class="portrait"><img src="${request.contextPath}/statics/images/small-head.jpg"/></a>
          </div>
  	 	</div>
  	 </div>
</div>
<!--个人中心头部-->
<div class="myGir_header">
	<div class="myGirWidth">
		<div class="myGir_headerLeft">
			<div class="headerL_top">
				<div class="l_top_font">商品租赁平台&nbsp;&gt;&nbsp;个人中心</div>
				<div class="l_topBox">
					<h1><img src="${request.contextPath}/statics/images/bikun_img1.jpg" /></h1>
                    <div class="l_topright">
                    	<div class="l_topuser">
                        	<h2>用户修改后为昵称</h2>
                            <div class="l_topVip">
                            	<div class="l_topVipTit"><b>还差4522成长值升级为金牌会员</b><em>VIP</em><span>银牌会员</span></div>
                                <ul class="l_topVipUl">
                                	<li class="light"><span>1500V值</span></li>
                                    <li><span>7500V值</span></li>
                                    <li><span>15000V值</span></li>
                                    <li><span>25000V值</span></li>
                                    <li></li>
                                </ul>                          
                            </div>
                        </div>
                        <div class="l_bottom">
                        	<ul>
                            	<li><a href="bikun_modifyData.html"><em></em>修改资料</a></li>
                                <li><a href="bikun_myConsulting.html"><em class="zx"></em>我的咨询</a></li>
                                <li><a href="bikun_myComplaints.html"><em class="ts"></em>我的投诉</a></li>
                                <li><a href="bikun_myNews.html"><em class="xx"></em>我的信息</a></li>
                            </ul>
                        </div>
                    </div>
				</div>
			</div>
			<div class="headerL_nav">
				<ul>
					<li><a href="bikun_mydefaner.html">我的范儿</a></li>
					<li>
						<a href="javascript:;">我的收藏<em></em></a>
						<div>
							<b></b>
							<a href="bikun_MyCollect.html">喜欢的单品</a>
							<a href="bikun_MyCollect.html">喜欢的SHOW</a>
						</div>
					</li>
					<li>
						<a href="javascript:;">我的账户<em></em></a>
						<div>
							<b></b>
							<a href="bikun_coupons.html">我的优惠券</a>
							<a href="bikun_integal.html">我的积分</a>
							<a href="bikun_transaction(jyczjl).html">充值记录</a>
							<a href="bikun_transaction.html">交易记录</a>
						</div>
					</li>
					<li><a href="bikun_myEvaluation.html">我的评论</a></li>
					<li><a href="my-order.html">我的订单</a></li>
					<li>
						<a href="javascript:;">我的寄租<em></em></a>
						<div>
							<b></b>
							<a href="bikun_JiZuUploadImg.html">我的寄租</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="myGir_headerRight">
			<div class="myGir_rBox">
				<p class="jf">积分&nbsp;441</p>
				<p class="zhye">账户余额&emsp;5700RMB</p>
				<div class="btn1"><a href="bikun_topUp.html" class="recharge">充值</a><a href="bikun_takeNow.html" class="takenow">取现</a></div>
			</div>
		</div>
	</div>
</div>

<!--修改资料主体部分-->
<div class="myGir_w1000">
	<h3 class="modify_tith3">个人资料<span><a href="#">[编辑]</a></span></h3>
	<div class="modify_contO">
		<div class="modify_l"><em></em><p><a href="#">编辑头像</a></p></div>
		<div class="modify_r">
			<!-- <p><s><em class="redStart"></em>真实姓名：</s><input type="text" class="myGirT_w200" value="某某某"></p> -->
			<p><s><em class="redStart"></em>昵称：</s><input type="text" class="myGirT_w200" value=""><span>由字母、数字或“_”组成，长度不少于6位，不多于30位</span></p>
			<p><s><em class="redStart"></em>邮箱：</s><input type="text" class="myGirT_w200" value=""><a href="javascript:;" class="cjbd ml153">立即绑定</a></p>
			<p><s><em class="redStart"></em>手机：</s><input type="text" class="myGirT_w200" value=""><span>绑定手机，让账户更安全</span><a href="javascript:;" class="cjbd">立即绑定</a></p>
			<p><s></s><input type="text" class="myGirT_w200" value="短信校验码"><span>验证码已经发送到你手机，60秒后</span><a href="javascript:;" class="resend">重新发送</a></p>
			<p><s><em class="redStart"></em>会员卡：</s><input type="text" class="myGirT_w200" value=""><a href="javascript:;" class="cjbd ml153">立即绑定</a></p>
			<p><s><em class="redStart"></em>身份证号：</s><input type="text" class="myGirT_w200" value=""></p>
		</div>
	</div>
	<div class="modify_contT">
		<p><s>输入旧密码：</s><input type="password" class="myGirT_w200" value=""></p>
		<p><s>设置新密码：</s><input type="password" class="myGirT_w200" value=""></p>
		<p><s>请确认密码：</s><input type="password" class="myGirT_w200" value=""></p>
		<div class="modify_btns"><input type="button" class="myGirBtn_w170" value="确认"><input type="button" class="myGirBtn_w170" value="取消"></div>
	</div>
	<div class="modify_contThr">
		<h6 class="sma_title">选填以下信息，让我们更了解你</h6>
		<p><s>真实姓名：</s><input type="password" class="myGirT_w200" value=""></p>
		<p><s>收入状况：</s><input type="password" class="myGirT_w200" value=""></p>
		<p><s>学历：</s><input type="password" class="myGirT_w200" value=""></p>
		<p><s>婚姻状况：</s><input type="password" class="myGirT_w200" value=""></p>
		<p>
			<s>性别：</s><input id="gender_0" name="newGender" type="radio" >男
			<input name="newGender" id="gender_1" type="radio" >女
		</p>
		<p>
			<s>生日：</s>
			<select class="myGirBtn_w90"></select><i class="m5">年</i>
			<input type="text" class="myGirBtn_w60" ><i class="m5">月</i>
			<select class="myGirBtn_w60"></select><i class="m5">日</i>
			<span>生日关系到您的会员权益，填写后不能修改</span>
			<div class="modify_btns mt30"><input type="button" class="myGirBtn_w170" value="确认"><input type="button" class="myGirBtn_w170" value="取消"></div>
		</p>
	</div>
	<h3 class="modify_tith3">个人标签<span><a href="#">[编辑]</a></span></h3>
	<div class="modify_contFour">
		<h6 class="sma_title">添加描述职业、兴趣爱好等方面的词语，让更多人找到你，让你找到更多同类</h6>
		<div class="Four_bq">
			<h6>标签</h6>
			<p>
				<s><em></em><input type="text" class="w40" value="80后"><i></i></s>
			</p>
		</div>
		<div class="Interested_bq">
			<div class="h70">
				<h6>你可能感兴趣的标签</h6>
				<s class="hs"><em></em><input type="text" class="w40 w50" value="+ 80后"></s>
				<s class="hs w90"><em></em><input type="text" class="w40 w75" value="+教育事业"></s>	
				<s class="w90"><em></em><input type="text" class="w40 w75" value="+穿衣美容"></s>
				<s class="w90"><em></em><input type="text" class="w40 w75" value="+微博奇葩"></s>
				<s><em></em><input type="text" class="w40 w50" value="+ 旅行"></s>
				<s><em></em><input type="text" class="w40 w50" value="+ 宅"></s>	
				<s><em></em><input type="text" class="w40 w50" value="+ 自由"></s>
				<s style="margin-left:50px;"><em></em><input type="text" class="w40 w50" value="+ 动漫"></s>
				<s class="w90"><em></em><input type="text" class="w40 w75" value="+校园生活"></s>
				<s class="w90"><em></em><input type="text" class="w40 w75" value="+八卦杂志"></s>
			</div>			
			<div class="modify_btns mt30 clearfix"><input type="button" class="myGirBtn_w170" value="确认"><input type="button" class="myGirBtn_w170" value="取消"></div>
		</div>
	</div>
	<h3 class="modify_tith3">收货地址<span><a href="#">[编辑]</a></span></h3>
	<div class="modify_contFive">
		<!-- <h6 class="sma_title">添加描述职业、兴趣爱好等方面的词语，让更多人找到你，让你找到更多同类</h6> -->
		<div class="sendOne">
			<p>
				<em><input type="radio" class="sendradio"></em><i>寄送到：</i><span>北京海淀区三环到四环之间城铁大钟寺站中鼎大厦（张小健）15313204268</span>
				<span><a href="#">[编辑]</a></span>
				<input type="button" class="myGirBtn_w30" value="删除">
			</p>
			<p>
				<em class="sendOneml"><input type="radio" class="sendradio"></em><span>北京海淀区三环到四环之间城铁大钟寺站中鼎大厦（张小健）15313204268</span>
				<span><a href="#">[编辑]</a></span>
				<input type="button" class="myGirBtn_w30" value="删除">
			</p>
			<p>
				<em class="sendOneml"><input type="radio" class="sendradio"></em><span>北京海淀区三环到四环之间城铁大钟寺站中鼎大厦（张小健）15313204268</span>
				<span><a href="#">[编辑]</a></span>
				<input type="button" class="myGirBtn_w30" value="删除">
			</p>
		</div>
		<input type="button" class="addSendBnt myGirBtn_w109" value="新增收货地址">		
	</div>
	<div class="modify_contO modify_contSix">
		<div class="modify_r">
			<p>
				<s><em class="redStart"></em>收货人：</s><input type="text" class="myGirT_w200" value=""><span>请输入真实的收货人姓名</span>
			</p>
			<p>
				<s><em class="redStart"></em>所在地区：</s>
				<select class="myGirSelect_w98"><option>请选择</option></select>
				<select class="myGirSelect_w98"><option>请选择</option></select>
				<select class="myGirSelect_w98"><option>请选择</option></select>
			</p>
			<p><s><em class="redStart"></em>详细地址：</s><input type="text" class="myGirT_w400" value=""></p>
			<p><s>邮政编码：</s><input type="text" class="myGirT_w200" value=""></p>
			<p>
				<s><em class="redStart"></em>手机号码：</s><input type="text" class="myGirT_w200" value=""><code style="margin-left:10px;">或</code><span>固定电话</span><input type="text" class="myGirT_w40" value="区号">-<input type="text" class="myGirT_w90" value="座机号码">-<input type="text" class="myGirT_w50" value="分机号">
			</p>
			<p><s>邮箱：</s><input type="text" class="myGirT_w200" value=""><span>用来接收订单提醒邮件，便于您及时了解订单状态</span></p>
			<p><s></s><input type="checkbox" class="checkbox1" checked value="">设为默认</p>
			<div class="modify_btns mt30 clearfix"><input type="button" class="myGirBtn_w170" value="确认"><input type="button" class="myGirBtn_w170" value="取消"></div>
		</div>
	</div>
</div>

<!--尾部-->
    <div class="fotbx pb70 clearfix pt30">
            <ul>
                <li><a href="">bequeen客服</a><span>|</span></li>
                <li><a href="">服务保障</a><span>|</span></li>
                <li><a href="">租赁指南</a><span>|</span></li>
                <li><a href="">支付方式</a><span>|</span></li>
                <li><a href="">配送方式</a><span>|</span></li>
                <li><a href="">关于索赔</a><span>|</span></li>
                <li><a href="">广告服务</a><span>|</span></li>
                <li><a href="">友情链接</a><span>|</span></li>                 	
                <li><a href="">手机bequeen</a></li>
              </ul> 
    </div>
	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	</div>


<!--固定浮动窗帘-->
<div class="fixed_float">
	<div class="float_leftBox">
		<s class="r_sj"></s>
		<ul>
			<li><a href="javascript:;" class="one"></a></li>
			<li><a href="javascript:;" class="two"></a></li>
			<li><a href="javascript:;" class="thr"></a></li>
			<li><a href="javascript:;" class="four"></a></li>
		</ul>
	</div>
	<div class="float_rightBox">
		<ul>
			<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
			<li><a href="javascript:;" class="heart"></a><b>0</b></li>
			<li><a href="javascript:;" class="phone"></a></li>
			<li><a href="javascript:;" class="share"></a></li>
			<li><a href="javascript:;" class="Micro"></a></li>
		</ul>
	</div>
</div>
</body>
</html>