<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/common.css">
	<link rel="stylesheet" href="${request.contextPath}/statics/css/style.css">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script src="${request.contextPath}/statics/js/script.js"></script>
</head>
<body>
	<div class="main">
		<div class="left l">
			<p class="pt25 pl10 pb20 tit-x"><img src="${request.contextPath}/statics/images/title.jpg" alt=""></p>
			<div class="nav">
				<a href="index.html" class="active">可循环宝贝</a>


				<p class="btn"><span class="allow rIcon"></span></p>
			</div>
		</div>
		<div class="right r">
			<!--内容-->
			<ul class="header">
				<li class="img"><img src="${request.contextPath}/statics/images/asd_r1_c1.jpg"></li>
				<li class="img"><img src="${request.contextPath}/statics/images/asd_r1_c3.jpg"></li>
				<li><a href="login.html">登录</a></li>
				<li><a href="register.html">注册</a></li>
	        </ul>
			<!--弹出层 begin-->
			<div class="layer">
				<div class="type-nav">
					<span class="close"></span>
					<p class="tit"><img src="${request.contextPath}/statics/images/tit.png" alt=""></p>
					<ul class="type">
						<li class="mb30"><a href="javascript:void(0)">ARMANI阿玛尼</a></li>
						<li><a href="javascript:void(0)">BURBERRY巴宝莉</a></li>
						<li><a href="javascript:void(0)">BALLY巴利</a></li>
						<li><a href="javascript:void(0)">BALENCIAGA</a></li>
						<li><a href="javascript:void(0)">BOTIEGA VENETA</a></li>
						<li class="mb30"><a href="javascript:void(0)">COACH 蔻驰</a></li>
						<li><a href="javascript:void(0)">Calvin Klein凯文克莱</a></li>
						<li class="mb30"><a href="javascript:void(0)">DOLCE&GABBANA</a></li>
						<li><a href="javascript:void(0)">DKNY琪娜凯伦</a></li>
					</ul>
					<ol class="mt45 mb20">
						<li><a href="#">隐私条款</a></li>
						<li><a href="#">法律条款</a></li>
						<li><a href="#">服务条款</a></li>
					</ol>
					<ol>
						<li><a href="#">COPYRIGHT &copy;</a></li>
						<li><a href="#">1988-2014 ALL RIGHT</a></li>
						<li><a href="#">RIGHTS RESSERVER</a></li>
					</ol>
				</div>
				<div class="sma-layer">
					<p id="toggle-btn" class="toggle-btn"><span class="allow lIcon lx"></span></p>
					<div class="smar">
					<div class="pic-box">
						<span class="up-btn"></span>
						<div class="pic-list">
							<div class="pics">
								<div>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_01.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_02.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_03.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_04.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
								</div>
								<div>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_05.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_06.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_03.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_04.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
								</div>
								<div>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_05.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_06.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_01.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
									<dl>
										<dt><img src="${request.contextPath}/statics/images/t_02.jpg" alt=""></dt>
										<dd class="price">￥470.00/天</dd>
										<dd>CAPU中号手袋</dd>
										<dd><a href="product-lists.html">详细特征</a></dd>
									</dl>
								</div>
							</div>
						</div>
						<span class="down-btn"></span>
					</div>
					<div class="line"><span id="notice"></span></div>
					</div>
				</div>
			</div>
			<!--弹出层 end-->
		</div>
	</div>
</body>
</html>