<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>邮箱找回密码-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/login.css" rel="stylesheet">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/statics/js/bikun.js"></script>
</head>
<script type="text/javascript">
	$(function(){
		$(".find-style a").hover(function(){
			$(this).addClass("light").siblings().removeClass("light");
		});
	})
</script>
<body>
	 <!------------------------------ 头部 ------------------------------>
	<div class="header clearfix">
  	 	<div class="header-classify left">
  	 		<ul>
  	 			<li><a href="index.html">可循环宝贝</a></li>


  	 		</ul>
  	 	</div>
  		<div class="header-sign left">
  			<div class="logo left pl25 mt5"><a href="index.html"><img src="${request.contextPath}/statics/images/logo.png"/></a></div>
  	 		<div class="user-sign right pl20">
          <div class="initial-login clearfix" style="display:none;"><s></s><i></i><a href="login.html" class="login-text ml5">登录</a><a href="register.html" class="register-text  ml10">注册</a></div>
          <div class="user-login clearfix" >
            <s></s><i></i><em class="star-mar"><span>5</span></em><em class="more-mar"><span>5</span></em><a href="index.html" class="exit-login left ml5 mr10">退出登录</a><a href="bikun_MyGirIndex.html" class="portrait"><img src="${request.contextPath}/statics/images/small-head.jpg"/></a>
          </div>
  	 	</div>
  	 </div>
	</div>
	<!------------------------------ 头部end ------------------------------>

	<!------------------------------ 邮箱找回密码 ------------------------------>
	<div class="phone-findPassword clearfix">
		<h2 class="clearfix"><a href="" class="find-password left ft18">找回密码</a><a href="index.html" class="back-hall right ft14 mt5 mr10">返回首页</a></h2>
		<div class="find-style mt40 clearfix"><a href="phone-findpassword.html" target="_self">手机找回密码</a><a href="email-findpassword.html" class="light" target="_self">邮箱找回密码</a></div>
		<div class="bind-phone left">
			<div class="bindPhone">
				<h3 class="ft14">请输入用户名及已经绑定的电子邮箱</h3>		           
		           <form>
		               <dl class="clearfix">
		                  <dt class="left">输入用户名：</dt>
		                  <dd><a href=""><input type="text" class="bindPhone-input"></a></dd>
		               </dl>
		               <dl class="clearfix">
		                  <dt class="left">已绑定邮箱：</dt>
		                  <dd><a href=""><input type="text" class="bindPhone-input left"/></a></dd>
		               </dl>
		               <p class="submit pl20"><a href="">提 交</a></p>
		           </form>		      		   
			</div>

		</div>
	</div>
	
	<!------------------------------ 邮箱找回密码end ------------------------------>

	 <!------------------------------ 尾部 ------------------------------>
    <div class="fotbx pb70 pt40">
            <ul>
                <li><a href="">bequeen客服</a><span>|</span></li>
                <li><a href="">服务保障</a><span>|</span></li>
                <li><a href="">租赁指南</a><span>|</span></li>
                <li><a href="">支付方式</a><span>|</span></li>
                <li><a href="">配送方式</a><span>|</span></li>
                <li><a href="">关于索赔</a><span>|</span></li>
                <li><a href="">广告服务</a><span>|</span></li>
                <li><a href="">友情链接</a><span>|</span></li>                 	
                <li><a href="">手机bequeen</a></li>
              </ul> 
    </div>
	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	</div>
	<!------------------------------ 尾部end ------------------------------>

	<!--固定浮动窗帘-->
	<div class="fixed_float">
		<div class="float_leftBox">
			<s class="r_sj"></s>
			<ul>
				<li><a href="javascript:;" class="one"></a></li>
				<li><a href="javascript:;" class="two"></a></li>
				<li><a href="javascript:;" class="thr"></a></li>
				<li><a href="javascript:;" class="four"></a></li>
			</ul>
		</div>
		<div class="float_rightBox">
			<ul>
				<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
				<li><a href="javascript:;" class="heart"></a><b>0</b></li>
				<li><a href="javascript:;" class="phone"></a></li>
				<li><a href="javascript:;" class="share"></a></li>
				<li><a href="javascript:;" class="Micro"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>