<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/login.css" rel="stylesheet">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/statics/js/bikun.js"></script>
</head>


<body>
	 <!------------------------------ 头部 ------------------------------>
	 <div class="header clearfix">
      <div class="header-classify left">
        <ul>
          <li><a href="index.html">可循环宝贝</a></li>


        </ul>
      </div>
      <div class="header-sign left">
        <div class="logo left pl25 mt5"><a href="index.html"><img src="${request.contextPath}/statics/images/logo.png"/></a></div>
        <div class="user-sign right pl20">
          <div class="initial-login clearfix" ><s></s><i></i><a href="login.html" class="login-text ml5">登录</a><a href="#" class="register-text  ml10">注册</a></div>
          <div class="user-login clearfix" style="display:none;">
            <s></s><i></i><em class="star-mar"><span>5</span></em><em class="more-mar"><span>5</span></em><a href="#" class="exit-login left ml5 mr10">退出登录</a><a href="bikun_MyGirIndex.html" class="portrait"><img src="${request.contextPath}/statics/images/small-head.jpg"/></a>
          </div>
      </div>
     </div>
    </div>
	<!------------------------------ 头部end ------------------------------>

	<!------------------------------ 注册页面 ------------------------------>
	<div class="register">
     <div class="error-con">
      <div class="error-box">
          <dl>
            <dt><img src="${request.contextPath}/statics/images/error.png"/></dt>
            <dd class="mt46"><b>糟了...系统出错了...</b></dd>
            <dd>您可以：稍后再试或联系客服</dd>
            <dd>
              <ul>
                <li>返回</li>
                <li><a href="index.html">首页<span>|</span></a></li>
                <li><a href="shopping_cart_scholar.html">购物车<span>|</span></a></li>
                <li><a href="my-order.html">我的订单</a></li>
              </ul>
            </dd>
          </dl>
      </div>
    </div>		
		
	</div>
	<!------------------------------ 注册页面end ------------------------------>



	<!--固定浮动窗帘-->
	<div class="fixed_float">
		<div class="float_leftBox">
			<s class="r_sj"></s>
			<ul>
				<li><a href="javascript:;" class="one"></a></li>
				<li><a href="javascript:;" class="two"></a></li>
				<li><a href="javascript:;" class="thr"></a></li>
				<li><a href="javascript:;" class="four"></a></li>
			</ul>
		</div>
		<div class="float_rightBox">
			<ul>
				<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
				<li><a href="javascript:;" class="heart"></a><b>0</b></li>
				<li><a href="javascript:;" class="phone"></a></li>
				<li><a href="javascript:;" class="share"></a></li>
				<li><a href="javascript:;" class="Micro"></a></li>
			</ul>
		</div>
	</div>


</body>
</html>