<!doctype html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BeQueen</title>
<link href="${request.contextPath}/statics/css/common1.css"  rel="stylesheet" type="text/css"/>
<link href="${request.contextPath}/statics/css/index.css"  rel="stylesheet" type="text/css"/>
</head>

<body>
<!------------------------------ 头部 ------------------------------>
	 <div class="header clearfix">
      <div class="header-classify left">
        <ul>
          <li><a href="index.html">可循环宝贝</a></li>


        </ul>
      </div>
      <div class="header-sign left">
        <div class="logo left pl25 mt5"><a href="index.html"><img src="${request.contextPath}/statics/images/logo.png"/></a></div>
        <div class="user-sign right pl20">
          <div class="initial-login clearfix">
                <ul>
                   <li><s></s></li>
                   <li><i></i></li>
                   <li><a href="login.html" class="login-text">登录</a></li>
                   <li><a href="register.html" class="register-text">注册</a></li>
                </ul>   
           </div>
          <div class="user-login clearfix"  style="display:none;" >
            <ul>
               <li><s></s></li>
               <li><i></i></li>
               <li><em class="star-mar"><span>5</span></em></li>
               <li><em class="more-mar"><span>5</span></em></li>
               <li><a href="" class="exit-login left ml5">退出登录</a></li>
               <li><a href="bikun_MyGirIndex.html" class="portrait"><img src="${request.contextPath}/statics/images/small-head.jpg"/></a></li>
            </ul>
            
          </div>
      </div>
     </div>
    </div>
	<!------------------------------ 头部end ------------------------------>
   <!---------------- 文章 正文 ---------------->
   
     <div class="article">
       <div class="acricle_head clearfix">
           <div class="acricle_logo"><img src="${request.contextPath}/statics/images/Li_logo.jpg" /></div>
           <div class="acricle_banner"><a href=""><img src="${request.contextPath}/statics/images/banner12.jpg" /></a></div>
       </div>
       <div class="acricle_main clearfix">
           <div class="history_banner clearfix">
             <div class="left">
                <div class="hisl"><img src="${request.contextPath}/statics/images/news_banner06.jpg" /></div>
                <div class="hisl_con mt20">
                  <i></i>
                  <s></s>
                  <h3>余俊杰</h3>
                  <p>会员积分：1520rmb</p>
                </div>
             </div>
             <div class="right">
               <p><a href="">添加个人描述</a></p>
             </div>
           </div>
          <div class="waterfall">
            <div class="waterfall-r" style="min-height:300px;"></div>
          </div> 
       </div>
     </div>
     
    
    
   <!---------------- 文章 正文  end ---------------->
   

<!------------------------------ 尾部 ------------------------------>
<!--    <div class="fotbx pb70 pt40">
            <ul>
                <li><a href="">bequeen客服</a><span>|</span></li>
                <li><a href="">服务保障</a><span>|</span></li>
                <li><a href="">租赁指南</a><span>|</span></li>
                <li><a href="">支付方式</a><span>|</span></li>
                <li><a href="">配送方式</a><span>|</span></li>
                <li><a href="">关于索赔</a><span>|</span></li>
                <li><a href="">广告服务</a><span>|</span></li>
                <li><a href="">友情链接</a><span>|</span></li>                 	
                <li><a href="">手机bequeen</a></li>
              </ul> 
    </div>
	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	</div>-->
	<!------------------------------ 尾部end ------------------------------>
<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
<script src="${request.contextPath}/statics/js/images-loaded.js"></script>
<script src="${request.contextPath}/statics/js/lrscroll.js"></script>
</body>
</html>
