<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/css/common.css">
	<link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/css/style.css">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script src="${request.contextPath}/statics/js/script.js"></script>
	<script type="text/javascript">
		$(function() {
			$("#top").load("head.html");
			$.ajax({
				async : false,
				cache : false,
				timeout: 1000,
				url: 'http://localhost:8081/blg-member/member/index',
				type: "post",
				success: function(data){
					var divA = document.getElementById("prodShow");
					for(var i=0;i< data.length;i++){
						var str1 ='';
						var str="<dl><dt><a href=''><img src='"+data[i].imagePath+"' width=160px height=180px /></a></dt><dd class='price'><b>￥"+data[i].prodPrice+"/</b>天</dd> <dd>"+data[i].prodName+"</dd> <dd class='active'><a href='http://localhost:8081/blg-member/prodDetail?id="+data[i].id+"'>详细特征</a></dd></dl>";
						if((i+1)%5==0) {
							str1 = "</div><div>"
						}
						divA.innerHTML=divA.innerHTML+str+str1;
					}
				}
			});
		})
	</script>
</head>
<body>
<div class="header clearfix" id="top"></div>
	<div class="main clearfix">
		<div class="left l">
			<p class="pt25 pl10 pb20 tit-x"></p>
			<div class="nav">
				<a href="index.html" class="active">可循环宝贝</a>


				<p class="btn"><span class="allow rIcon"></span></p>
			</div>
		</div>

		<div class="right r">
	        <!--焦点图begin-->
	        <div class="focus">
	        			<div class="button" id="prev"></div>
	        			<div class="foc-box">
	        				<div class="pic-wrap">
	        					<div id="prodShow">
	        				</div>
	        			</div>
	        			</div>
	        			<div class="button" id="next"></div>
	        		</div>

	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	<!------------------------------ 尾部end ------------------------------>

		</div>
		<div class="aside"></div>
	</div>
	</div>
</body>
</html>