<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交订单-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/login.css" rel="stylesheet">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/statics/js/bikun.js"></script>
</head>

<body>
	 <!------------------------------ 头部 ------------------------------>
	 <div class="header clearfix">
      <div class="header-classify left">
        <ul>
          <li><a href="index.html">可循环宝贝</a></li>


        </ul>
      </div>
      <div class="header-sign left">
        <div class="logo left pl25 mt5"><a href="index.html"><img src="${request.contextPath}/statics/images/logo.png"/></a></div>
        <div class="user-sign right pl20">
          <div class="initial-login clearfix" ><s></s><i></i><a href="login.html" class="login-text ml5">登录</a><a href="register.html" class="register-text  ml10">注册</a></div>
          <div class="user-login clearfix" style="display:none;">
            <s></s><i></i><em class="star-mar"><span>5</span></em><em class="more-mar"><span>5</span></em><a href="index.html" class="exit-login left ml5 mr10">退出登录</a><a href="bikun_MyGirIndex.html" class="portrait"><img src="${request.contextPath}/statics/images/small-head.jpg"/></a>
          </div>
      </div>
     </div>
    </div>
	<!------------------------------ 头部end ------------------------------>

	<!------------------------------ 我的订单 ------------------------------>

	<div class="submit-order">
		<h2>我的订单</h2>
    <div class="write-info"><span>填写并核对订单信息</span><a href="submit-order.html">修改新地址</a></div>
    <div class="receipt-info pt5s receive">
        <h3>收货人信息<span>[编辑]</span></h3>
          <dl class="clearfix">

              <dd><p class="clearfix">张小健 1531320468  84766233@qq.com</p>
                  <p class="clearfix">
                     <span  class="left wid575">北京 东城区 内环到三环里 东城区景山东街三眼井胡同49号</span></p></dd>
              <dt><div class="new-address"><s>+</s>使用新地址</div></dt> 
          </dl>
      </div>
     <div class="invoice-info mt10">
        <h3>发票信息：类型和抬头</h3>
        <div class="invoice-contect">
           <p class="mt10 invoice-company"><input type="radio" checked/>北京数码科技有限公司 编辑 删除</p>
           <p class="invoice-style mt5"><span class="wid145-div">使用新的发票信息<b></b></span>发票开据方式：&nbsp;&nbsp;<input type="radio" checked/>普通发票( 纸质 ) <span class="ml54">发票抬头</span> &nbsp;&nbsp;<input type="radio"/>个人 <input type="radio" checked class="ml15"/>单位：<input type="text" class="wid153-input" value="请输入单位名称"/></p>
           <p class="invoice-style mt5"><span class="wid145-span">发票内容<b></b></span><input type="radio" checked/>明细  &nbsp;&nbsp;<input type="radio" class="ml35"/>碧坤包包 <input type="radio" class="ml20"/>碧坤包包<input type="radio" class="ml20"/>碧坤包包</p>
           <p class="remark">备注：如商品由第三家卖方销售，发票内容由其卖家决定，发票由卖家开据发票。<a href="my-orders.html">保存发票信息</a></p>
        </div>  
      </div>
    <h3>商品清单</h3>
		<div class=" apply-info relet-info mt20">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th class="good"><input type="checkbox"/>&nbsp;&nbsp;全选 <em class="ml20">商品</em> </th>
                <th>价格(元/天)</th>
                <th>日期</th>
                <th>数量</th> 
                <th>押金</th>               
                <th>小计信息</th>
              </tr>
              <tr>
                <td>
                  <dl class="clearfix">
                    <dt><input type="checkbox" class="checkbox left" /><img src="${request.contextPath}/statics/images/bag-img4.jpg"></dt>
                    <dd>MADISON麦迪逊压花皮革PINNACLE CARRIE手提包<span>商品编号：1030849</span></dd>
                  </dl>
                </td>
                <td><span class="price">￥177</span><br/><s class="ft14">￥556</s></td>
                <td>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                </td>
                <td><a href="" class="clearfix ml35"><u></u><i>1</i><s></s></a></td> 
                <td><span>￥50000</span></td>
                <td><span class="has-background">￥1239</span></td>                          
              </tr>
              
              <tr>
                <td>
                  <dl class="clearfix">
                    <dt><input type="checkbox" class="checkbox left" /><img src="${request.contextPath}/statics/images/bag-img4.jpg"></dt>
                    <dd>MADISON麦迪逊压花皮革PINNACLE CARRIE手提包<span>商品编号：1030849</span></dd>
                  </dl>
                </td>
                <td><span class="price">￥177</span><br/><s class="ft14">￥556</s></td>
                <td>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                </td>
                <td><a href="" class="clearfix ml35"><u></u><i>1</i><s></s></a></td> 
                <td><span>￥50</span><span class="right">八层新</span></td>
                <td><span class="has-background">￥1239</span></td>                          
              </tr>

              <tr>
                <td>
                  <dl class="clearfix">
                    <dt><input type="checkbox" class="checkbox left" /><img src="${request.contextPath}/statics/images/bag-img4.jpg"></dt>
                    <dd>MADISON麦迪逊压花皮革PINNACLE CARRIE手提包<span>商品编号：1030849</span></dd>
                  </dl>
                </td>
                <td><span class="price">￥177</span><br/><s class="ft14">￥556</s></td>
                <td>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                  <p><em class="left">取包时间</em><input type="text" value="2014-3-2"/><s></s></p>
                </td>
                <td><a href="" class="clearfix ml35"><u></u><i>1</i><s></s></a></td> 
                <td><span>￥50</span></td>
                <td><span class="has-background">￥1239</span></td>                          
              </tr>

          </table>
		</div>
    <div class="mt20"><a href="" class="del-choose">删除勾选</a></div>
    <p class="mt23"><a href="index.html" class="stroll left">&lt;&lt;再去逛逛</a><span>1</span> 件商品 总商品金额：<b>￥332.00</b></p>
		<p>租金：<b>￥166.00</b></p>
    <p>押金：<b>￥166.00</b></p>
    <p>运费：<b>-￥0.00</b></p>
    <p class="total-money"><em class="ft18">总金额（已免运费）：</em><b class="ft28 mr22">￥322</b><a href="order-generated.html" class="now-pay right">提交订单</a></p>  
	</div>

	<!------------------------------ 我的订单end ------------------------------>



	<!--固定浮动窗帘-->
	<div class="fixed_float">
		<div class="float_leftBox">
			<s class="r_sj"></s>
			<ul>
				<li><a href="javascript:;" class="one"></a></li>
				<li><a href="javascript:;" class="two"></a></li>
				<li><a href="javascript:;" class="thr"></a></li>
				<li><a href="javascript:;" class="four"></a></li>
			</ul>
		</div>
		<div class="float_rightBox">
			<ul>
				<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
				<li><a href="javascript:;" class="heart"></a><b>0</b></li>
				<li><a href="javascript:;" class="phone"></a></li>
				<li><a href="javascript:;" class="share"></a></li>
				<li><a href="javascript:;" class="Micro"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>