<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>提交订单-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/login.css" rel="stylesheet">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/statics/js/bikun.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#top").load("head.html");
            if('${userAddr.receiveName}'!=null){
                var divA = document.getElementById("addrShow");
                var str = "<dd><p class='clearfix'>${userAddr.receiveName}&nbsp;${userAddr.receiveMobile}</p> <p class='clearfix'><span  class='left wid575'>${userAddr.province}&nbsp;${userAddr.city}&nbsp;${userAddr.county}&nbsp;${userAddr.address}</span></p></dd>";
                divA.innerHTML=divA.innerHTML+str;
            }
        })
        function closeMask(){
            $(".mask").hide();
            $(".modify_r").hide();
        }

        function toConfirm(){
            $(".mask").show();
            $(".modify_r").show();
        }

        function addAddr(){
            var receiveName=$("#receiveName").val();
            var receiveMobile=$("#receiveMobile").val();
            var address=$("#address").val();
            var postalCode=$("#postalCode").val();
            var province=$("#province").val();
            var city=$("#city").val();
            var county=$("#county").val();
            var userId=$("#userId").val();
            var username=$("#username").val();
            $.ajax({
                async : false,
                cache : false,
                timeout: 1000,
                url: 'http://localhost:8081/blg-member/member/addUserAddr',
                type: "post",
                data:{"receiveName":receiveName,"receiveMobile":receiveMobile,"address":address,"postalCode":postalCode,"province":province,"city":city,"county":county,"userId":userId,"username":username},
                success: function(data){
                    if(data.code == 0){
                        closeMask();
                        $.ajax({
                            async : false,
                            cache : false,
                            timeout: 1000,
                            url: 'http://localhost:8081/blg-member/member/findUserAddr',
                            type: "post",
                            data:{"userId":userId},
                            success: function(data){
                                var divA = document.getElementById("addrShow");
                                var str = "<dd><p class='clearfix'>"+data.receiveName+"&nbsp;"+data.receiveMobile+"</p> <p class='clearfix'><span  class='left wid575'>"+data.province+"&nbsp;"+data.city+"&nbsp;"+data.county+"&nbsp;"+data.address+"</span></p></dd>";
                                divA.innerHTML=divA.innerHTML+str;
                                $("#userAddr").val(data.id)
                            }
                        });
                    }else{
                        alert("地址新增失败。。。")
                    }
                }
            });
        }
        function choiceDate(){
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            var oDate1 = new Date(startDate);
            var oDate2 = new Date(endDate);
            var myDate = new Date();
            var prodPrice =$("#prodPrice").val();
            var deposit =$("#deposit").val();
            if(startDate == ''){
                alert("取包时间不能为空");
                return ;
            }
            if(endDate ==''){
                alert("还包时间不能为空");
                return ;
            }
            if(myDate.getTime() > oDate1.getTime() ){
                alert("取包时间不能小于当前时间");
                return false;
            }
            if(oDate1.getTime() > oDate2.getTime()){
               alert("还包时间不能大于取包时间");
                $("#endDate").val('');
               return ;
            }else{
                dateSpan = oDate2 - oDate1;
                dateSpan = Math.abs(dateSpan);
                iDays = Math.floor(dateSpan / (24 * 3600 * 1000));
                $("#rentPrice").text("￥"+parseFloat(iDays*prodPrice));
                var totalPrice = Number(iDays*prodPrice)+Number(deposit);
                $("#totalPrice").text("￥"+totalPrice);
            }
        }
        //生成订单
        function createOrder() {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            var prodId =$("#prodId").val();
            var userId =$("#userId").val();
            var oDate1 = new Date(startDate);
            var oDate2 = new Date(endDate);
            var addressId = $("#addressId").val();
            dateSpan = oDate2 - oDate1;
            dateSpan = Math.abs(dateSpan);
            dayNum = Math.floor(dateSpan / (24 * 3600 * 1000));
            $.ajax({
                async : false,
                cache : false,
                timeout: 1000,
                url: 'http://localhost:8081/blg-member/member/createOrder',
                type: "post",
                data:{"userId":userId,"prodId":prodId,"dayNum":dayNum,"startDate":startDate,"endDate":endDate,"addressId":addressId},
                success: function(data){
                    if(data.id !=null) {
                        window.location.href = "http://localhost:8081/blg-member/generated?orderId="+data.id;
                    }
                }
            });
        }
    </script>
</head>

<body>
<input id="userId" name="userId" value="${user.userId}" type="hidden"/>
<input id="username" name="username" value="${user.username}" type="hidden"/>
<input id="prodPrice" name="prodPrice" value="${prod.prodPrice}" type="hidden"/>
<input id="deposit" name="deposit" value="${prod.deposit}" type="hidden"/>
<input id="prodId" name="prodId" value="${prod.id}" type="hidden"/>
<input id="addressId" name="addressId" value="${userAddr.id}" type="hidden"/>
<div class="header clearfix" id="top"></div>
	<!------------------------------ 我的订单 ------------------------------>

	<div class="submit-order">
		<h2>我的订单</h2>
    <div class="write-info"><span>填写并核对订单信息</span><a href="javaScript:toConfirm()">新增地址</a></div>
    <div class="receipt-info pt5s receive">
        <h3>收货人信息</h3>
          <dl class="clearfix" id="addrShow">

          </dl>
      </div>
    <h3>商品清单</h3>
		<div class=" apply-info relet-info mt20">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th class="good"><em class="ml20">商品</em> </th>
                <th>价格(元/天)</th>
                <th>日期</th>
                <th>数量</th> 
                <th>押金</th>               
              </tr>
              <tr>
                <td>
                  <dl class="clearfix">
                    <dt><img src="${prod.imagePath}"></dt>
                    <dd>${prod.prodName}<br/><span>商品编号：${prod.prodCode}</span></dd>
                  </dl>
                </td>
                <td><span class="price">￥${prod.prodPrice}</span><br/></td>
                <td>
                  <p><em class="left">取包时间</em><input type="date" value="" id="startDate" onchange="choiceDate()" /><s></s></p>
                  <p><em class="left">还包时间</em><input type="date" value="" id="endDate" onchange="choiceDate()"/><s></s></p>
                </td>
                <td><a href="" class="clearfix ml35"><u></u><i>1</i><s></s></a></td> 
                <td><span>￥${prod.deposit}</span></td>
              </tr>

          </table>
		</div>
    <div class="mt20"></div>
    <p class="mt23"><a href="index.html" class="stroll left">&lt;&lt;再去逛逛</a><span>1</span> 件商品</p>
		<p>租金：<b id="rentPrice"></b></p>
    <p>押金：<b>￥${prod.deposit}</b></p>
    <p class="total-money"><em class="ft18">总金额（已免运费）：</em><b class="ft28 mr22" id="totalPrice"></b><a href="javaScript:createOrder()" class="now-pay right">提交订单</a></p>
	</div>

	<!------------------------------ 我的订单end ------------------------------>



	<!--固定浮动窗帘-->
	<div class="fixed_float">
		<div class="float_leftBox">
			<s class="r_sj"></s>
			<ul>
				<li><a href="javascript:;" class="one"></a></li>
				<li><a href="javascript:;" class="two"></a></li>
				<li><a href="javascript:;" class="thr"></a></li>
				<li><a href="javascript:;" class="four"></a></li>
			</ul>
		</div>
		<div class="float_rightBox">
			<ul>
				<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
				<li><a href="javascript:;" class="heart"></a><b>0</b></li>
				<li><a href="javascript:;" class="phone"></a></li>
				<li><a href="javascript:;" class="share"></a></li>
				<li><a href="javascript:;" class="Micro"></a></li>
			</ul>
		</div>
	</div>
<div class="mask" style="display:none"></div>
<div class="modify_contO modify_contSix" style="position:fixed; z-index:99999; left:33%; top:30%">
    <div class="modify_r" style="display:none">
        <p>
            <font><em class="redStart"></em>收货人：</font>
            <input id="receiveName" name="receiveName" type="text" class="myGirT_w200" value=""><span>请输入真实的收货人姓名</span>
        </p>
        <p>
            <font><em class="redStart"></em>所在地区：</font>
            <select  class="area_select" id="province" name="province"><option value="北京">北京</option></select> <select name="city" id="city" data-key="city" class="area_select" data-available="true"><option value="北京市">北京市</option></select><select  class="area_select" name="county" id="county" data-key="area" data-available="true"><option value="东城区">东城区</option></select>
        </p>
        <p><font><em class="redStart"></em>详细地址：</font>
            <input id="address" name="address" type="text" class="myGirT_w400" value=""/>
        </p>
        <p><font>邮政编码：</font>
            <input id="postalCode" name="postalCode" type="text" class="myGirT_w200" value=""/>
        </p>
        <p>
            <font><em class="redStart"></em>手机号码：</font>
            <input id="receiveMobile" name="receiveMobile" type="text" class="myGirT_w200" value="" />
        </p>
        <p ><font></font><input id="isDefault" name="isDefault" type="checkbox" class="checkbox1" >设为默认</p>
        <div class="modify_btns mt30 clearfix"><input type="button" class="myGirBtn_w170" onclick="addAddr()" value="确认"><input onclick="closeMask()" type="button" class="myGirBtn_w170 ml30" value="取消"></div>
    </div>
</div>
</body>
</html>