<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>订单跟踪-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/login.css" rel="stylesheet">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/statics/js/bikun.js"></script>
    <script type="text/javascript">
        $(function() {
            $("#top").load("head.html");
        })
        function cancelOrder(id) {
            $.ajax({
                async : false,
                cache : false,
                timeout: 1000,
                url: 'http://localhost:8081/blg-member/member/cancelOrder',
                type: "post",
                data:{id:id},
                success: function(data){
                    if(data.code ==0){
                        alert("订单取消成功")
                        $("#payment").hide();
                    }
                }
            });
        }
        function payOrder(id) {
            $.ajax({
                async : false,
                cache : false,
                timeout: 1000,
                url: 'http://localhost:8081/blg-member/member/payOrder',
                type: "post",
                data:{id:id},
                success: function(data){
                    if(data.code ==0){
                        alert("支付成功")
                        $("#payment").hide();
                    }
                }
            });
        }
    </script>
</head>

<body>
<div class="header clearfix" id="top"></div>
	<!------------------------------ 订单详情 ------------------------------>
	<div class="submit-order form-detail">
    <div class="bekun-order ft14"><a href="bikun_MyGirIndex.html">我的</a>&nbsp;&gt;&nbsp;<a href="#">订单中心</a>&nbsp;&gt;&nbsp;订单号：${order.orderNo}</div>
      <div class="details-title mt30">订单号：${order.orderNo}</div>
    <h2 class="mt30 order-track">订单跟踪</h2>
    <table width="100%" border="0" class="detail-tab mt10" cellspacing="0" cellpadding="0">
<tr>
<th>处理时间</th>
<th>处理信息</th>
<th>操作人</th>
</tr>
<tr>
<td class="pt15">${orderDate}</td>
<td class="pt15">您提交了订单，请等待系统确认</td>
<td class="pt15">系统</td>
</tr>
<tr>
<td>2019-03-31 14:52:09</td>
<td>您的订单由于送货时间未到不能出库</td>
<td>系统</td>
</tr>
<tr>
<td>2019-04-01 09:00:00</td>
<td>您的订单预计4月3日送达您手中</td>
<td>系统</td>
</tr>
<tr>
<td>2019-04-08 04:16:15</td>
<td>您的订单已经进入北京4号库准备出库，不能修改</td>
<td>李军宝</td>
</tr>
<tr>
<td>2019-04-08 07:58:25</td>
<td>您的订单已经打印完毕</td>
<td>葛文建</td>
</tr>
<tr>
<td>2019-04-08 08:11:51</td>
<td>您的订单已经拣货完成</td>
<td>郭冬花</td>
</tr>
<tr>
<td>2019-04-08 08:23:55</td>
<td>您的订单已通过扫描确认</td>
<td>京东打</td>
</tr>
<tr>
<td>2019-04-08 08:32:30</td>
<td>您的订单已打包完毕</td>
<td>包员</td>
</tr>
<tr>
<td>2019-04-08 10:23:25</td>
<td>您的订单在【北京双树分拣中心】分拣完成</td>
<td>张清全</td>
</tr>
<tr>
<td>2019-04-08 13:21:18</td>
<td>您的订单在【北京双树分拣中心】发货完成，准备送往【大钟寺站】</td>
<td>王利</td>
</tr>
<tr>
<td>2019-03-08 15:25:53</td>
<td>您的订单在【大钟寺站】验货完成，正在分配配送员</td>
<td>阚龙</td>
</tr>
<tr>
<td>2019-04-08 15:31:08</td>
<td>配送员【穆豪杰】已出发，联系电话【18511873270 配送站电话：62121239】</td>
<td>穆豪杰</td>
</tr>

<tr>
<td>2019-04-08 16:30:04</td>
<td>感谢您在京东购物，欢迎您再次光临！</td>
<td>穆豪杰</td>
</tr>

<tr>
<td colspan="3" class="pt20 pb15">送货方式：普通快递        <span class="pl35">承运人：快递</span>        <span class="pl35">货运单号：1407032717</span></td>
</tr>
</table>

    <div class="order-details pt20">
        <strong>订单信息</strong>
         <h3>收货人信息</h3> 
         <p>收  货  人: ${userAddr.receiveName}</p>
         <p>地      址：${userAddr.province}${userAddr.city}${userAddr.county}${userAddr.address}</p>
         <p>手机号码：${userAddr.receiveMobile}</p>
      </div>
      
    <h3><strong>商品清单</strong></h3>
		<div class=" apply-info relet-info mt20">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <th class="good"><em class="ml20">商品</em> </th>
                <th>价格(元/天)</th>
                <th>日期</th>
                <th>数量</th> 
                <th>押金</th>               
              </tr>
              <tr>
                <td>
                  <dl class="clearfix">
                    <dt><img src="${prod.imagePath}"></dt>
                    <dd>${prod.prodName}<span>成色 ${prod.prodCondition}</span></dd>
                  </dl>
                </td>
                <td><span class="price">￥${prod.prodPrice}</span></td>
                <td>
                  <p><em class="left">取包时间</em><input type="text" value="${startDate}"/><s></s></p>
                  <p><em class="left">还包时间</em><input type="text" value="${endDate}"/><s></s></p>
                </td>
                <td><a href="" class="clearfix ml35"><u></u><i>1</i><s></s></a></td> 
                <td><span>￥${prod.deposit}</span></td>
              </tr>
          </table>
		</div>
    
    <div class="detail-card">
      <h3 class="mt15"><span class="detail-add-icon"></span><input type="radio" checked class="ml10"> 在线支付</h3>
    </div>
    <p class="mt23"><a href="index.html" class="stroll left">&lt;&lt;再去逛逛</a><span>1</span> 件商品 总商品金额：<b>￥${order.totalPrice}</b></p>
		<p>租金：<b>￥${order.totalPrice-prod.deposit}</b></p>
    <p>押金：<b>￥${prod.deposit}</b></p>
    <p>运费：<b>-￥0.00</b></p>
    <p class="mt15"><em class="ft18">总金额（已免运费）：</em><b class="ft28">￥${order.totalPrice}</b></p>
    <p class="mt20 mb125"><a href="javaScript:cancelOrder(${order.id})" class="now-pay ml10 right">取消订单</a><a href="javaScript:payOrder(${order.id})" class="now-pay right ml20" id="payment">立即支付</a></p>
	</div>

	<!------------------------------ 我的订单end ------------------------------>

	<!--固定浮动窗帘-->
	<div class="fixed_float">
		<div class="float_leftBox">
			<s class="r_sj"></s>
			<ul>
				<li><a href="javascript:;" class="one"></a></li>
				<li><a href="javascript:;" class="two"></a></li>
				<li><a href="javascript:;" class="thr"></a></li>
				<li><a href="javascript:;" class="four"></a></li>
			</ul>
		</div>
		<div class="float_rightBox">
			<ul>
				<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
				<li><a href="javascript:;" class="heart"></a><b>0</b></li>
				<li><a href="javascript:;" class="phone"></a></li>
				<li><a href="javascript:;" class="share"></a></li>
				<li><a href="javascript:;" class="Micro"></a></li>
			</ul>
		</div>
	</div>
</body>
</html>