<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>商品详情-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/style.css" rel="stylesheet">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="${request.contextPath}/statics/js/mzp-packed.js"></script>
    <script>
  $(function(){
		$('.pro-list ul li').click(function(){
			$('.pro-box > div').hide();
			$(this).find("a").attr("class","active").parent().siblings().find("a").removeAttr("class","active");
			$('.pro-box > div').eq($(this).index()).show().find("a").addClass("active").parent().siblings().find("a").removeClass("active");
		});
		//查看细节
		$('.specifics').click(function(){
		  if($('.drop-down').is(":hidden")){
		     $('.drop-down').show()
		   }else{
		     $('.drop-down').hide()
		   }
		})
      $("#top").load("head.html");

  })
        function rent(id) {
            $.post('http://localhost:8081/blg-member/member/fetchUserHead',{
                type:"1"
            },function(data){
                if(data.username==null){
                   alert("请先登陆......");
                    window.location.href="http://localhost:8081/blg-member/login.html";
                }else{
                    window.location.href="http://localhost:8081/blg-member/rent?prodId="+id;
                }
            });
        }
</script>

</head>

<body>
<div class="header clearfix" id="top"></div>
	<!------------------------------ 产品详情 ------------------------------>

	 <div class="title wid1000 mt40"><a href="">商品租赁平台</a> &gt; <a href="">产品系列</a> &gt; 女包</div>
     <div class="product wid1000 clearfix">
      
       <div class="product-l">
	    <div class="left-pro">
		<div class="t1">
			<div id="showArea">
				<a href="${prod.imagePath}" rel="zoom1" rev="${request.contextPath}/statics/images/big-img.jpg"><img src="${prod.imagePath}" /></a>
			</div>
		</div>
		<div class="t2">
		<a href="${prod.imagePath}" id="zoom1" class="MagicZoom MagicThumb"><img src="${prod.imagePath}" id="main_img" class="main_img" style="width:508px; height:582px;" /></a>
		</div>
	    </div>
       
       </div>
       <div class="product-r">
         <h2>${prod.prodName}</h2>
         <div class="shop-style"><span class="ft14">商品类别：</span><a href="">${prod.prodSpec}</a></div>
         <ul class="product-con">
           <li class="bt40 bt"><span class="right mt5">押金：${prod.deposit} RMB</span><span class="ft24">${prod.prodPrice}</span><span class="ft14 pt5">RMB/天</span></li>
           <li class="ft14 mb10"><div class="bt"><span class="specifics">-</span>查看细节</div>
               <ul class="drop-down clearfix pt15" style="display: block">
                   <li>商品编号：${prod.prodCode}</li>
                   <li>品牌：${prod.prodBrand}</li>
                   <li>生产日期：${prod.produceDateStr}</li>
                   <li>商品产地：${prod.prodPlace}</li>
                   <li>成色:${prod.prodCondition}</li>
               </ul>
             </li>  
         </ul>
         <div class="goods-num"><span class="ft14 red ml10 left">有货</span><span class="ml20 left">数量</span><span class="left ml20"><i class="left"></i><input class="left" value="1" type="text"><s class="left"></s></span></div>
         <div class="easy-rent"><a href="javascript:rent(${prod.id});" class="easy-one left">轻松租</a></div>
       </div>
     
     </div>
     <div class="product-bottom wid1000 clearfix">
     
      <div class="popup-btn clearfix"><a href="" class="popup-collect">+收藏</a><span class="collect-num"><b></b><i></i>2154</span></div>
      <div class="pro-list clearfix">
      
        <ul>
          <li class="pro-one"><a href="javascript:">评论</a><span>|</span></li>
          <li class="pro-two"><a href="javascript:">咨询</a></li>
        </ul>
       
      </div> 
      <div class="pro-box clearfix">
        <div class="pro-one">
            <div class="show-all pro-show clearfix">
                <dl class="clearfix">
                  <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
                  <dd>
                    <h4><a href="" class="green">毛毛草</a>　35分钟前：</h4>
                    <p>这个视角挺好的，就是有点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
                    <p class="pro-data">2019-02-14</p>
                  </dd>
                </dl>
                <dl class="clearfix">
                  <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
                  <dd>
                    <h4><a href="" class="green">毛毛草</a>　35分钟前：</h4>
                    <p>这个视角挺好的，就是有点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
                    <p class="pro-data">2019-02-14</p>
                  </dd>
                </dl>
                <dl class="clearfix">
                  <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
                  <dd>
                    <h4><a href="" class="green">毛毛草</a>　35分钟前：</h4>
                    <p>这个视角挺好的，就是有点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
                    <p class="pro-data">2019-02-14</p>
                  </dd>
                </dl>

          
           </div>
           </div>
        <div class="pro-two" style="display:none">
            <div class="show-all pro-show clearfix">
                <dl class="clearfix">
                  <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
                  <dd>
                    <h4><a href="" class="green">包包草</a>　55分钟前：</h4>
                    <p>这个视角点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
                    <p class="pro-data">2019-02-14</p>
                  </dd>
                </dl>
                <dl class="clearfix">
                  <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
                  <dd>
                    <h4><a href="" class="green">包包草</a>　16分钟前：</h4>
                    <p>这个视角挺好的，就是有点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
                    <p class="pro-data">2019-08-09</p>
                  </dd>
                </dl>
                <dl class="clearfix">
                  <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
                  <dd>
                    <h4><a href="" class="green">包包草</a>　35分钟前：</h4>
                    <p>这个视角挺好的，就是有点敏所说，没有看全哦。哈哈！赞个～</p>
                    <p class="pro-data">2019-08-09</p>
                  </dd>
                </dl>

          
           </div>
        </div>
      </div>
      <div class="pro-box">
		<div class="paging-box">
			<ul clas="items">
				<li class="prev">上一页</li>								
				<li class="next">下一页</li>
				<li><a href="#">1</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">8</a></li>
				<li class="end">末页</li>
			</ul>
		</div>
       </div>
     </div>
     <div class="product-bottom wid1000 clearfix">
        <h2>猜你喜欢</h2> 
        <div class="browse-goods clearfix">
          <div class="left-btn left"></div>
          
          <div class="scroll-img left">
            <ul>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥334234</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥3333</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥25544</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥64424</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥46443</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥34444</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
              <li><img src="${request.contextPath}/statics/images/bag-img7.jpg"><p><span>￥27415</span>RMB/天</p><a href="product-lists.html" class="ml35">PINNACLE CARRIE手提包</a></li>
            </ul>
          </div>
          
          <div class="right-btn left"></div>
        </div>
     </div>
	<!------------------------------ 产品详情end ------------------------------>
	<!--固定浮动窗帘-->
	<div class="fixed_float">
		<div class="float_leftBox">
			<s class="r_sj"></s>
			<ul>
				<li><a href="javascript:;" class="one"></a></li>
				<li><a href="javascript:;" class="two"></a></li>
				<li><a href="javascript:;" class="thr"></a></li>
				<li><a href="javascript:;" class="four"></a></li>
			</ul>
		</div>
		<div class="float_rightBox">
			<ul>
				<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
				<li><a href="javascript:;" class="heart"></a><b>0</b></li>
				<li><a href="javascript:;" class="phone"></a></li>
				<li><a href="javascript:;" class="share"></a></li>
				<li><a href="javascript:;" class="Micro"></a></li>
			</ul>
		</div>
	</div>
<!--    <script type="text/javascript" src="${request.contextPath}/statics/js/lrtk.js"></script>
-->    
        <script>

window.onload = function(){
	(function($){
	$.fn.teaPot = function( opts ){
		var def = {
			speed: 400,
			even: "click"	
		};
		var options = $.extend( def, opts );		
		this.append( $( "div.browse-goods" ) );		
		//////////////////////////////
		var len = $( ".scroll-img li" ).length,
		smUl = $( ".scroll-img ul" );
		smUl.width( 273 * len );		
		$( ".left-btn" ).click( function(){
			if( parseInt( smUl.css( "margin-left" ) ) < 0 ){
				smUl.not(":animated").animate( {"margin-left": "+=273" }, options.speed );
			}
		});
		$( ".right-btn" ).click( function(){
			if( parseInt( smUl.css( "margin-left" ) ) > (len-3) * -273 ){
				smUl.not(":animated").animate( {"margin-left": "-=273" }, options.speed );	
			}
		});
	}
})(jQuery);

$( document ).ready(function(e) {
	$("#div1").teaPot({
		speed: 200,
		even: "dblclick"	
	});
});  
}

</script>

</body>
</html>