<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/login.css" rel="stylesheet">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="${request.contextPath}/statics/js/bikun.js"></script>
</head>
<script>
$(function(){
	$(".agree-btn").click(function(){
		mark();		
	});
	$("#top").load("head.html");

	function mark(){
			$(".mask").show();
		 	  var lefts = ($(window).width() - $(".agree-mask").width())/2;
	          var tops = ($(window).height() - $(".agree-mask").height())/2;
	      $(".agree-mask").show().css({
	        "left": lefts,
	        "top": tops      
		  });

		  
		}$(".user-agree span").bind("click",function(){
		    $(".mask").hide();
		    $(".agree-mask").hide();
		  });

	
});
function hid(){
	$(".mask").hide();
	$(".agree-mask").hide();
}
var check=0;
function validateInput(){
	var username=$("#username").val();
	var mobile=$("#mobile").val();
	var password=$("#password").val();
	var rePassword=$("#rePassword").val();
	var email =$("#email").val();
	var regEmail = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
	if(username==""){
		$("#user1").show();
		check=0;
	}else{
		$("#user1").hide();
		$.post("http://localhost:8081/blg-member/member/validate",
				{username:username},
				function(data){
					if(data)
					{
						$("#user2").show();
						check=0;
					}else{
						$("#user2").hide();
						$("#user3").show();
					}
				});
		check=1;
	}
	if(mobile==""){
		$("#mobile1").show();
		check=0;
	}else{
		$("#mobile1").hide();
		check=1;
	}
	if(email==""){
		$("#email1").show();
		check=0;
	}else{
		$("#email1").hide();
		check=1;
	}
	if(!regEmail.test(email))
	{
		$("#email1").show();
		check=0;
	}else{
		$("#email1").hide();
		check=1;
	}
	if(password==""){
		$("#pwd1").show();
		check=0;
	}else{
		$("#pwd1").hide();
		check=1;
	}
	if(password.length<6){
		$("#pwd1").show();
		check=0;
	}else{
		$("#pwd1").hide();
		$("#pwd").show();
		check=1;
	}
	if(rePassword==""){
		$("#pwd3").show();
		check=0;
	}else{
		$("#pwd3").hide();
		check=1;
	}
	if(rePassword!=password){
		$("#pwd2").show();
		check=0;
	}else{
		$("#pwd2").hide();
		$("#repwd").show();
		check=1;
	}
}
function saveMember(){
    alert("1");
	if (check==1){
        var username=$("#username").val();
        var mobile=$("#mobile").val();
        var password=$("#password").val();
        var email =$("#email").val();
		$.ajax({
			async : false,
			cache : false,
			timeout: 1000,
			url: 'http://localhost:8081/blg-member/member/saveMember',
			type: "post",
			data:{username:username,mobile:mobile,password:password,email:email},
			success: function(data){
				if(data.code == 0){
					window.location.href = "http://localhost:8081/blg-member";
				}else{
					window.location.href = "http://localhost:8081/blg-member/register.html";
				}
			}
		});
	}else{
		validateInput();
	}
}
	
</script>

<body>
<div class="header clearfix" id="top"></div>
	<!------------------------------ 注册页面 ------------------------------>
	<div class="register">
		<div class="register-top clearfix">
			<div class="register-login left"><a href="index.html">商品租赁平台</a>&nbsp;&gt;&nbsp;<a href="#">产品系列</a>&nbsp;&gt;&nbsp;<a href="#">女包</a></div>
			<div class="registed left"><span>我已注册,现在就&nbsp;</span><a href="login.html">登 录</a></div>
		</div>		
		<div class="register-box clearfix">
           <form id="form1" method="post">
               <div class="login-con register-con left">
                  <dl class="clearfix">
                    <dt><r></r></dt>
                    <dd><input type="text" value="用户名" class="register-input left" id="username" name="username" onchange="validateInput()" onFocus="if(value=='用户名'){value='';}" onBlur="if(!value){value='用户名';}"/></dd>
					  <dd class="register-info" id="user1" style="display: none;"><font></font><i class="import-phone left">请输入用户名</i></dd>
					  <dd class="register-info" id="user2" style="display: none;"><font></font><i class="import-phone left">该用户名已被使用</i></dd>
					  <dd class="register-info" id="user3" style="display: none;"><font class="correct"></font><i class="import-phone left"></i></dd>
                  </dl>
				   <dl class="clearfix">
					   <dt><i></i></dt>
					   <dd><input type="text" value="手机号" class="register-input left" id="mobile" name="mobile" onchange="validateInput()" onFocus="if(value=='手机号'){value='';}" onBlur="if(!value){value='手机号';}"/></dd>
					   <dd class="register-info" id="mobile1" style="display: none;"><font></font><i class="import-phone left">请输入十一位的手机号码</i></dd>
					   <dd class="register-info" id="mobile3" style="display: none;"><font class="correct"></font><i class="import-phone left"></i></dd>
				   </dl>
				   <dl class="clearfix">
					   <dt><u></u></dt>
					   <dd><input type="text" value="邮箱" class="register-input left" id="email" name="email" onchange="validateInput()" onFocus="if(value=='邮箱'){value='';}" onBlur="if(!value){value='邮箱';}"/></dd>
					   <dd class="register-info" id="email1" style="display: none;"><font></font><i class="import-phone left">请输入正确的邮箱</i></dd>
					   <dd class="register-info" id="email2" style="display: none;"><font class="correct"></font><i class="import-phone left"></i></dd>
				   </dl>
                  <dl class="clearfix">
                    <dt><s></s></dt>
                    <dd><input type="password" value="请设置密码" class="register-input left" id="password" name="password" onchange="validateInput()" onFocus="if(value=='请设置密码'){value='';}" onBlur="if(!value){value='请设置密码';}"/></dd>
					  <dd class="register-info" id="pwd1" style="display: none;"><font></font><i class="import-phone left">6~16个字符，区分大小写</i></dd>
					  <dd class="register-info" id="pwd" style="display: none;"><font class="correct"></font><i class="import-phone left"></i></dd>
                  </dl>
                  <dl class="clearfix">
                    <dt><em></em></dt>
                    <dd><input type="password" value="请确认密码" class="register-input left" id="rePassword" name="rePassword" onchange="validateInput()" onFocus="if(value=='请确认密码'){value='';}" onBlur="if(!value){value='请确认密码';}"/></dd>
					  <dd class="register-info" id="pwd2" style="display: none;"><font></font><i class="import-phone left">与上面密码不符</i></dd>
					  <dd class="register-info" id="pwd3" style="display: none;"><font></font><i class="import-phone left">6~16个字符，区分大小写</i></dd>
					  <dd class="register-info" id="repwd" style="display: none;"><font class="correct"></font><i class="import-phone left"></i></dd>
                  </dl>
                  <p><a href="javascript:saveMember()"  class="agree-btn ml60">注册</a></p>
               </div>
           </form>
        </div>
	</div>
	<!------------------------------ 注册页面end ------------------------------>
</body>
</html>