<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>申请预约-全球时尚奢侈品共享平台－在bequeen，做自己的女王</title>
	<link rel="shortcut icon" type="image/x-icon" href="http://www.bequeenchina.com/favicon.ico" />
	<meta name="keywords" content="bequeen,bequeen租赁网,时尚奢侈,绿色奢侈,女王">
	<meta name="description" content="bequeen奢侈品租赁网站(bequeenchina.com)作为全球最大的时尚奢侈品租赁平台，涉及了奢侈品网上租赁、奢侈品实体休闲会所、奢侈品鉴定、养护服务等主营业务，100%正品保证，女王奢品，尽在bequeen！">
	<link href="${request.contextPath}/statics/css/common.css" rel="stylesheet">
	<link href="${request.contextPath}/statics/css/login.css" rel="stylesheet">
    <script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<!--script type="text/javascript" src="${request.contextPath}/statics/js/bikun.js"></script-->
</head>

<body>
	 <!------------------------------ 头部 ------------------------------>
	 <div class="header clearfix">
  	 	<div class="header-classify left">
  	 		<ul>
  	 			<li><a href="index.html">可循环宝贝</a></li>


  	 		</ul>
  	 	</div>
  		<div class="header-sign left">
  			<div class="logo left pl25 mt5"><a href="index.html"><img src="${request.contextPath}/statics/images/logo.png"/></a></div>
  	 		<div class="user-sign right pl20">
          <div class="initial-login clearfix" ><s></s><i></i><a href="login.html" class="login-text ml5">登录</a><a href="register.html" class="register-text  ml10">注册</a></div>
          <div class="user-login clearfix" style="display:none;">
            <s></s><i></i><em class="star-mar"><span>5</span></em><em class="more-mar"><span>5</span></em><a href="index.html" class="exit-login left ml5 mr10">退出登录</a><a href="bikun_MyGirIndex.html" class="portrait"><img src="${request.contextPath}/statics/images/small-head.jpg"/></a>
          </div>
  	 	</div>
  	 </div>
  </div>
	<!------------------------------ 头部end ------------------------------>

	<!------------------------------ 服务保障 ------------------------------>
    <div class="serve-ensure clearfix">
        <div class="serve-left left">
          <div class="serve-list right">
            <h3>服务政策</h3>
              <ul class="mt30">
                <li class="on"><a href="">服务保障<b></b></a></li>
                <li><a href="">租凭指南<b></b></a></li>
                <li><a href="">支付方式<b></b></a></li>
                <li><a href="">配送方式<b></b></a></li>
                <li><a href="">关于索赔<b></b></a></li>
                <li><a href="">法律条款<b></b></a></li>
                <li><a href="">隐私条款<b></b></a></li>
              </ul>
          </div>
        </div>
        <div class="serve-content left">
          <div class="ensure-content">
            <h3>服务保障</h3>
            <p class="pt15">就服务保证的意义，Jochen Wirtz等学者进行了大量描述，Jochen Wirtz与Prem.N.Shamdasani更是提炼出服务保证对企业及其顾客的19大贡献与影响。为去除繁冗以至精简，本文将服务保证的主要意义概括为三个方面。</p>
            <h4 class="mt35">1、服务保证可降低顾客感知风险、提升消费信心</h4>
            <p>纳尔森曾经尝试将商品分为前验商品和后验商品。前验商品是指那些在购买决策之前就可检验其质量的商品，而后验商品是指那些在购买决策前很难判断其质量的商品。服务堪称典型的后验商品，因为服务具有无形、同时并发、异质和易逝的特征。进入一个服务组织，在你决定是否接受其服务之前，你无法看到和触摸服务，因为它无形；你无法事先体验其服务，因为服务的消费只存在于产出之时；你无法确定此次服务是否与上次服务相同，哪怕是它由同一个组织或同一个人提供；你无法要求服务组织拿出其已经生产好的服务样品来事先观摩，因为服务无法储存。因此，多数顾客在做出服务的购买决策时，总是对服务的质量心有余悸。</p>
            <p>服务保证的推出，令顾客购买决策的感知风险仅限于服务组织拒绝履行其在服务保证中之承诺这一道德败坏行径。因为只要服务组织能认真履行其服务保证，则顾客基本上在购买之前就能确定其服务消费保底效用。此保底效用为享受到符合质量保证之服务或低质量服务加赔偿二者的较低者，即顾客购买与消费服务所获得的效用不会比此二者的较低者更低。</p>
            <p>另外，敢于就服务的某一属性做出服务保证，会增加顾客的消费信心，尤其是当顾客只在意服务的可靠性，而对赔偿不甚关心时。假定有两个航空公司A和B，A的准时到达率高达95%，而B的准时到达率仅为70%，则B显然没有就航班准时到达做出服务保证动机和勇气。因为B若做出此服务保证，其将或者面临高额的赔偿，或者背上轻诺寡信的坏名声。</p>
            <h4 class="mt35">2、服务保证促使企业聚焦于顾客需求与质量控制</h4>
            <p>为吸引顾客注意力并促使其做出购买决策，服务企业的服务保证多围绕着顾客极为重视的需求特征而展开，而这促使企业更好地把握顾客需求偏好，更密切地留意顾客需求特征的变化。</p>
            <p>服务保证是服务质量标准的一部分，确切地说是服务质量标准的外显或对外宣称部分。为维护企业形象和避免因低质量服务的出现而导致企业赔偿行为的发生，服务企业及其员工一般对服务保障。</p>
          </div>
        </div>
    </div>
	

	<!------------------------------ 服务保障end ------------------------------>

	 
	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	</div>
	<!------------------------------ 尾部end ------------------------------>

	<!--固定浮动窗帘-->
	<div class="fixed_float">
		<div class="float_leftBox">
			<s class="r_sj"></s>
			<ul>
				<li><a href="javascript:;" class="one"></a></li>
				<li><a href="javascript:;" class="two"></a></li>
				<li><a href="javascript:;" class="thr"></a></li>
				<li><a href="javascript:;" class="four"></a></li>
			</ul>
		</div>
		<div class="float_rightBox">
			<ul>
				<li><a href="my-cart.html" class="shopping_cart"></a><b>0</b></li>
				<li><a href="javascript:;" class="heart"></a><b>0</b></li>
				<li><a href="javascript:;" class="phone"></a></li>
				<li><a href="javascript:;" class="share"></a></li>
				<li><a href="javascript:;" class="Micro"></a></li>
			</ul>
		</div>
	</div>
  <script type="text/javascript">
  $(function(){
    $(".order-time").click(function(){
      $(this).find(".pop-box").show().siblings(".pop-box").hide();
    });

    $(".cancel-btn,.sure-btn").click(function(){
      $(".pop-box").hide();
    });
	var serveLeftH= $('.serve-content').height();
	$('.serve-left').css({'height':serveLeftH})
  })
    
  
</script>
</body>
</html>