<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/css/common.css">
	<link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/css/style.css">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script src="${request.contextPath}/statics/js/script.js"></script>
    <script>
	 function toConfirm(){
      $(".mask").show();
	 	  var lefts = ($(window).width() - $(".popup").width())/2;
          var tops = ($(window).height() - $(".popup").height())/2;
      $(".popup").show().css({
        "left": lefts,
        "top": tops      
	  })
	 }
 </script>
</head>
<body>
	





    <div class="popup" style="display: block;">
     <div class="right mr20"><a href=""><img src="${request.contextPath}/statics/images/uploadClasBtn.png"></a></div>
     <div class="popup-scroll">
      <div class="popup-con clearfix">
         <div class="popup-banner">
          
            <div id="popup-box">
                <div>
                    <img src="${request.contextPath}/statics/images/popup_img1.jpg"/>
                    <img src="${request.contextPath}/statics/images/popup_img3.jpg"/>
                    <img src="${request.contextPath}/statics/images/img4.jpg"/>
                </div>
                <ul>
                    <li class="light"></li><li></li><li></li>
                </ul>        
            </div>
         
         </div>
         <div class="popup-r">
            <dl class="popup-title clearfix">
              <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
              <dd>
                <h3><a href="">狗尾巴草</a></h3>
                <p>1小时前SHOW</p>
              </dd>
            </dl>
            <div class="popup-classify clearfix">分类：太阳镜、眼镜框</div>
            <ul class="popup-rtext">
              <li><a href="">注解文字注解文字注解文字</a></li>
              <li><a href="">注解文字注解文字注解文字</a></li>
              <li><a href="">注解文字注解文字注解文字</a></li>
              <li><a href="">注解文字注解文字注解文字</a></li>
              <li><a href="">注解文字注解文字注解文字</a></li>
              <li><a href="">注解文字注解文字注解文字</a></li>
              <li><a href="">注解文字注解文字注解文字</a></li>
            </ul>
         </div>
      </div>
      
      <div class="popup-btn clearfix"><a href="" class="popup-collect">+收藏</a><span class="collect-num"><b></b><i></i>2154</span></div>
      <div class="show-all clearfix mt35">
        
        <h3><span><a href="">Show All...</a></span>她还SHOW过哪些</h3>
      
      </div>
      <div class="show-all clearfix">
      
        
        <dl class="clearfix">
          <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
          <dd>
            <textarea class="show-all-textarea"></textarea>
            <p><a class="show-submit mt10 right" href="">提交</a></p>
          </dd>
        </dl>
        <dl class="clearfix">
          <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
          <dd>
            <h4><a href="" class="green">毛毛草</a>　35分钟前：</h4>
            <p>这个视角挺好的，就是有点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
          </dd>
        </dl>
        <dl class="clearfix">
          <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
          <dd>
            <h4><a href="" class="green">毛毛草</a>　35分钟前：</h4>
            <p>这个视角挺好的，就是有点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
          </dd>
        </dl>
        <dl class="clearfix">
          <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
          <dd>
            <h4><a href="" class="green">毛毛草</a>　35分钟前：</h4>
            <p>这个视角挺好的，就是有点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
          </dd>
        </dl>
        <dl class="clearfix">
          <dt><img src="${request.contextPath}/statics/images/popup_img2.jpg" /></dt>
          <dd>
            <h4><a href="" class="green">毛毛草</a>　35分钟前：</h4>
            <p>这个视角挺好的，就是有点敏感。包包如楼上所说，没有看全哦。哈哈！赞个～</p>
          </dd>
        </dl>
      
      </div>
      </div> 
       
     
    </div>
    
	 <!------------------------------ 尾部 ------------------------------>
<!--    <div class="fotbx pb70 clearfix pt30">
            <ul>
                <li><a href="">bequeen客服</a><span>|</span></li>
                <li><a href="">服务保障</a><span>|</span></li>
                <li><a href="">租赁指南</a><span>|</span></li>
                <li><a href="">支付方式</a><span>|</span></li>
                <li><a href="">配送方式</a><span>|</span></li>
                <li><a href="">关于索赔</a><span>|</span></li>
                <li><a href="">广告服务</a><span>|</span></li>
                <li><a href="">友情链接</a><span>|</span></li>                 	
                <li><a href="">手机bequeen</a></li>
              </ul> 
    </div>
	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	</div>
-->	<!------------------------------ 尾部end ------------------------------>
</body>
</html>