<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/css/common.css">
	<link type="text/css" rel="stylesheet" href="${request.contextPath}/statics/css/style.css">
	<script src="${request.contextPath}/statics/js/jquery-1.8.3.min.js"></script>
	<script src="${request.contextPath}/statics/js/script.js"></script>

</head>
<body>
	<div class="waterfall clearfix">
		<div class="left l">
			<p class="pt25 pl10 pb20 tit-x"><img src="${request.contextPath}/statics/images/title.jpg" alt=""></p>
			<div class="nav wf">
				<a href="index.html">商城</a>
				<a href="waterfall.html" class="active">范儿</a>

				<p class="btn wbtn"><span class="allow rIcon"></span></p>
			</div>
		</div>
		<div class="nav_bar">
		<div class="nav_slide">
				<div class="type-nav">
					<span class="close closew"></span>
					<p class="tit"><img src="${request.contextPath}/statics/images/tit.png" alt=""></p>
					<ul class="type">
						<li class="mb30"><a href="bikun_MyGirlies.html">我要SHOW</a></li>
						<li><a href="javascript:void(0)">全部   243354</a></li>
						<li><a href="javascript:void(0)">今天  427</a></li>
						<li><a href="javascript:void(0)">昨天  11</a></li>
						<li><a href="javascript:void(0)">前天   111</a></li>
						<li class="mb30"><a href="javascript:void(0)">本周内 7899</a></li>
						<li><a href="javascript:void(0)">本月内 4444</a></li>
						<li class="mb30"><a href="javascript:void(0)">本年内 5555555</a></li>
					</ul>
					<ol class="mt45 mb20">
						<li><a href="#">隐私条款</a></li>
						<li><a href="#">法律条款</a></li>
						<li><a href="#">服务条款</a></li>
					</ol>
					<ol>
						<li><a href="#">COPYRIGHT &copy;</a></li>
						<li><a href="#">1988-2014 ALL RIGHT</a></li>
						<li><a href="#">RIGHTS RESSERVER</a></li>
					</ol>
				</div>
		</div>
		</div>
		<div class="waterfall-r">
			<div class="wf-box">
				<a href="#" onClick="toConfirm()"><img src="${request.contextPath}/statics/images/img0.jpg"></a>
				<div class="wf-info">
					<h1>华丽的巴黎特峰|女王范的气场</h1>
					<dl class="dl1">
						<dt><img src="${request.contextPath}/statics/images/touxiang.jpg" ></dt>
						<dd>
						   <span>狗尾巴草</span>
						   <span>1小时前SHOW</span>
						</dd>
					</dl>
					<dl class="dl2">
						<dt><img src="${request.contextPath}/statics/images/xin.jpg"></dt>
						<dd>24</dd>
					</dl>
				</div>
			</div>
			<div class="wf-box">
				<a href="#"><img src="${request.contextPath}/statics/images/img1.jpg"></a>
				<div class="wf-info">
					<h1>华丽的巴黎特峰|女王范的气场</h1>
					<dl class="dl1">
						<dt><img src="${request.contextPath}/statics/images/touxiang.jpg" ></dt>
						<dd>
						   <span>狗尾巴草</span>
						   <span>1小时前SHOW</span>
						</dd>
					</dl>
					<dl class="dl2">
						<dt><img src="${request.contextPath}/statics/images/xin.jpg"></dt>
						<dd>24</dd>
					</dl>
				</div>
			</div>
			<div class="wf-box">
				<a href="#"><img src="${request.contextPath}/statics/images/img2.jpg"></a>
				<div class="wf-info">
					<h1>华丽的巴黎特峰|女王范的气场</h1>
					<dl class="dl1">
						<dt><img src="${request.contextPath}/statics/images/touxiang.jpg" ></dt>
						<dd>
						   <span>狗尾巴草</span>
						   <span>1小时前SHOW</span>
						</dd>
					</dl>
					<dl class="dl2">
						<dt><img src="${request.contextPath}/statics/images/xin.jpg"></dt>
						<dd>24</dd>
					</dl>
				</div>
			</div>
			<div class="wf-box">
				<a href="#"><img src="${request.contextPath}/statics/images/img3.jpg"></a>
				<div class="wf-info">
					<h1>华丽的巴黎特峰|女王范的气场</h1>
					<dl class="dl1">
						<dt><img src="${request.contextPath}/statics/images/touxiang.jpg" ></dt>
						<dd>
						   <span>狗尾巴草</span>
						   <span>1小时前SHOW</span>
						</dd>
					</dl>
					<dl class="dl2">
						<dt><img src="${request.contextPath}/statics/images/xin.jpg"></dt>
						<dd>24</dd>
					</dl>
				</div>
			</div>
			<div class="wf-box">
				<a href="#"><img src="${request.contextPath}/statics/images/img4.jpg"></a>
				<div class="wf-info">
					<h1>华丽的巴黎特峰|女王范的气场</h1>
					<dl class="dl1">
						<dt><img src="${request.contextPath}/statics/images/touxiang.jpg" ></dt>
						<dd>
						   <span>狗尾巴草</span>
						   <span>1小时前SHOW</span>
						</dd>
					</dl>
					<dl class="dl2">
						<dt><img src="${request.contextPath}/statics/images/xin.jpg"></dt>
						<dd>24</dd>
					</dl>
				</div>
			</div>
			<div class="wf-box">
				<a href="#"><img src="${request.contextPath}/statics/images/img5.jpg"></a>
				<div class="wf-info">
					<h1>华丽的巴黎特峰|女王范的气场</h1>
					<dl class="dl1">
						<dt><img src="${request.contextPath}/statics/images/touxiang.jpg" ></dt>
						<dd>
						   <span>狗尾巴草</span>
						   <span>1小时前SHOW</span>
						</dd>
					</dl>
					<dl class="dl2">
						<dt><img src="${request.contextPath}/statics/images/xin.jpg"></dt>
						<dd>24</dd>
					</dl>
				</div>
			</div>
			<div class="wf-box">
				<a href="#"><img src="${request.contextPath}/statics/images/img6.jpg"></a>
				<div class="wf-info">
					<h1>华丽的巴黎特峰|女王范的气场</h1>
					<dl class="dl1">
						<dt><img src="${request.contextPath}/statics/images/touxiang.jpg" ></dt>
						<dd>
						   <span>狗尾巴草</span>
						   <span>1小时前SHOW</span>
						</dd>
					</dl>
					<dl class="dl2">
						<dt><img src="${request.contextPath}/statics/images/xin.jpg"></dt>
						<dd>24</dd>
					</dl>
				</div>
			</div>
			  <div class="wf-box">
				<a href="#"><img src="${request.contextPath}/statics/images/img7.jpg"></a>
				<div class="wf-info">
					<h1>华丽的巴黎特峰|女王范的气场</h1>
					<dl class="dl1">
						<dt><img src="${request.contextPath}/statics/images/touxiang.jpg" ></dt>
						<dd>
						   <span>狗尾巴草</span>
						   <span>1小时前SHOW</span>
						</dd>
					</dl>
					<dl class="dl2">
						<dt><img src="${request.contextPath}/statics/images/xin.jpg"></dt>
						<dd>24</dd>
					</dl>
				</div>
			</div>
			<div style="width:0;height:0;overflow:hidden;clear:both"></div>
		</div>
		<div class="aside"></div>
	</div>



    <iframe scrolling="yes" class="wf_iframe" style="display:none" src="${request.contextPath}/statics/waterfall_detail.html" width="700" height="100%"></iframe>
    
	 <!------------------------------ 尾部 ------------------------------>
<!--    <div class="fotbx pb70 clearfix pt30">
            <ul>
                <li><a href="">bequeen客服</a><span>|</span></li>
                <li><a href="">服务保障</a><span>|</span></li>
                <li><a href="">租赁指南</a><span>|</span></li>
                <li><a href="">支付方式</a><span>|</span></li>
                <li><a href="">配送方式</a><span>|</span></li>
                <li><a href="">关于索赔</a><span>|</span></li>
                <li><a href="">广告服务</a><span>|</span></li>
                <li><a href="">友情链接</a><span>|</span></li>                 	
                <li><a href="">手机bequeen</a></li>
              </ul> 
    </div>
	<div class="footer">
		<span>COPYRIGHT © 1998 – 2014 BIKUN. ALL RIGHTS RESERVED.</span>
		<ul>
			<li><a href="">服务条款</a></li>
			<li><a href="">法律条款</a></li>
			<li><a href="">隐私条款</a></li>
		</ul>
	</div>
-->	<!------------------------------ 尾部end ------------------------------>
</body>
</html>